﻿@model MuestraViewModel

@{
    ViewBag.Title = $"{Model.TipoMantenimiento} Muestras";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Partial("_PedidoView", new PedidoViewModel { Item = Model.Item.Pedido })

    <hr />

    <h3>Datos de Muestra</h3>

    <dl class="dl-horizontal">
        <dt>@Html.LabelFor(model => model.Item.Numero)</dt>
        <dd>@Model.Item.Numero</dd>

        <dt>@Html.LabelFor(model => model.Item.Detalle)</dt>
        <dd>@Model.Item.Detalle</dd>

        <dt>@Html.LabelFor(model => model.Item.Cantidad)</dt>
        <dd>@Model.Item.Cantidad</dd>

        <dt>@Html.LabelFor(model => model.Item.CantidadRequerida)</dt>
        <dd>@Model.Item.CantidadRequerida</dd>

        <dt>@Html.LabelFor(model => model.Item.ObservacionInicial)</dt>
        <dd>@Model.Item.ObservacionInicial</dd>
    </dl>

    <hr />

    <h3>Datos de Recepción</h3>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-horizontal">
        <input type="hidden" value="@Model.Item.ID" name="Item.ID" />
        <input type="hidden" value="@Model.Item.Pedido.ID" name="Item.Pedido.ID" />
        <input type="hidden" value="@Model.Item.Pedido.PersonaContacto" name="Item.Pedido.PersonaContacto" />
        <input type="hidden" value="@Model.Item.Pedido.InformacionAdicional" name="Item.Pedido.InformacionAdicional" />

        <div class="form-group">

            @Html.LabelFor(model => model.Item.Descripcion, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                <textarea name="Item.Descripcion" class="form-control" rows="3" maxlength="64">@Model.Item.Descripcion</textarea>
                @Html.ValidationMessageFor(model => model.Item.Descripcion, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Item.Codigo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Item.Codigo" value="@Model.Item.Codigo" class="form-control text-box single-line" />
            </div>

            @Html.LabelFor(model => model.Item.Lote, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Item.Lote" value="@Model.Item.Lote" class="form-control text-box single-line" />
            </div>

            @Html.LabelFor(model => model.Item.Contenido, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Item.Contenido" value="@Model.Item.Contenido" class="form-control text-box single-line" />
            </div>

            @Html.LabelFor(model => model.Item.FechaElaboracion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Item.FechaElaboracion" value="@Model.Item.FechaElaboracion" class="form-control text-box single-line" maxlength="50" />
            </div>

            @Html.LabelFor(model => model.Item.FechaVencimiento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Item.FechaVencimiento" value="@Model.Item.FechaVencimiento" class="form-control text-box single-line" maxlength="50" />
            </div>

            @Html.LabelFor(model => model.Item.Observaciones, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea name="Item.Observaciones" class="form-control" rows="3" maxlength="256">@Model.Item.Observaciones</textarea>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Recibir Muestra" class="btn btn-primary confirmar" mensajeConfirmacion="¿Desea guardar la Recepción de la Muestra?" />
        </div>
    </div>
}
<div>
    <a href="@Url.Action("RecibirMuestras", "Pedidos", new { id = Model.Item.Pedido.ID })">Regresar a Pedido</a>
</div>

@section scripts {
    <script>
        function ConvertDateFromEcuadorToUSAFormat(ecuadorDate) {
            var dateParts = ecuadorDate.split('/');
            return dateParts[1] + '/' + dateParts[0] + '/' + dateParts[2];
        }
    </script>

    @GenericHelper.ScriptConfirmarSubmit()
}
