﻿@using Verdezul.SYSOSP.Web.Helpers
@using Verdezul.SYSOSP.Web.Entities

@model Verdezul.SYSOSP.Web.Areas.Admin.Models.ParametroViewModel

@{
    ViewBag.Title = $"{Model.TipoMantenimiento} Parámetro";

    var type = "text";

    switch(Model.Item.TipoDato)
    {
        case TipoDato.Correo:
            type = "email";
            break;

        case TipoDato.Entero:
            type = "number";
            break;

        case TipoDato.URL:
            type = "url";
            break;
    }
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Item.ID)
        @Html.HiddenFor(model => model.Item.Tipo)
        @Html.HiddenFor(model => model.Item.TipoDato)
        <div class="form-group">

            @Html.LabelFor(model => model.Item.Tipo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input value="@Model.Item.Tipo.ToDisplayName()" class="form-control text-box single-line" id="TipoParametro" name="TipoParametro" type="text" readonly disabled>
            </div>

            @Html.LabelFor(model => model.Item.Valor, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item.Valor, new { htmlAttributes = new { @class = "form-control", type=type } })
                @Html.ValidationMessageFor(model => model.Item.Valor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Grabar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a Listado", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
