﻿@using Verdezul.SYSOSP.Web.Helpers
@using Verdezul.SYSOSP.Web.Entities
@model Verdezul.SYSOSP.Web.Areas.Admin.Models.ParametroListViewModel

@{
    ViewBag.Title = "Listado Parámetros";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Valor
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Item)
    {
        <tr class="celda">
            <td>
                @item.Tipo.ToDisplayName()
            </td>
            <td>
                @switch (item.TipoDato)
                {
                    case TipoDato.URL:
                        <a href="@item.Valor" target="_blank">@item.Valor</a>
                        break;
                    case TipoDato.Correo:
                        <a href="mailto:@item.Valor" target="_blank">@item.Valor</a>
                        break;
                    default:
                        @item.Valor
                        break;
                }
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "fa fa-edit", title = "Editar" })
            </td>
        </tr>
    }

</table>

@section scripts {
}
