﻿@model Verdezul.SYSOSP.Web.Areas.Admin.Models.PlantillaViewModel

@{
    ViewBag.Title = $"{Model.TipoMantenimiento} Plantilla";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Item.ID)
        <div class="form-group">

            @Html.LabelFor(model => model.Item.Nombre, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item.Nombre, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Grabar" class="btn btn-primary" />
            </div>
        </div>
    </div>

    if (Model.TipoMantenimiento == TipoMantenimiento.Modificación)
    {
        <input type="button" value="Agregar Análisis" class="btn btn-default addAnalisis" id="agregarAnalisis" />

        <table class="table AnalisisTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Análisis</th>
                    <th>Grupo</th>
                    <th>Área</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Item.ListaAnalisis
                    .Where(x => x.Status == EstadoEntidad.Activo)
                    .OrderBy(x => x.Analisis.GrupoAnalisis.Area.Nombre)
                    .ThenBy(x => x.Analisis.GrupoAnalisis.Nombre)
                    .ThenBy(x => x.Analisis.Nombre)
                    .Select((x, y) => new { detallePlantilla = x, index = y + 1 })
                    )
                {
                    @PlantillaHelper.DetallePlantillaRow(item.detallePlantilla, item.detallePlantilla.Ticks.HasValue ? item.detallePlantilla.Ticks.Value : (item.index * 1000) + item.index, item.index)
                }
            </tbody>
        </table>
    }
}

<div>
    @Html.ActionLink("Regresar a Listado", "Index")
</div>

@ModalMenuAnalisisHelper.ModalMenuAnalisis(Model.Areas, Model.CatalogoAnalisis)

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/x-handlebars-template" id="detallePlantilla-row-template">
        @PlantillaHelper.DetallePlantillaRow(new DetallePlantilla { Analisis = new Analisis { GrupoAnalisis = new GrupoAnalisis { Area = new Area() } } }, -1, -1)
    </script>

    <script type="text/x-handlebars-template" id="analisisMuestraElegido-row-template">
        @ModalMenuAnalisisHelper.AnalisisElegidoRow()
    </script>

    <script id="vars-script">

        var tipoMantenimiento = '@Html.Raw(Model.TipoMantenimiento)';

        var catalogoAnalisis = [];
        @foreach(var analisis in Model.CatalogoAnalisis)
        {
            if (analisis.Division == DivisionCatalogo.Analisis)
            {
                @Html.Raw(String.Format("catalogoAnalisis[{0}] = {1};", analisis.ID, analisis.ObjetoJS));
            }
        }
    </script>

    <script id="analisis-script">
        $('.addAnalisis').on('click', function () {

            limpiarFiltroTexto();

            // Vaciar Modal
            $('#analisisElegidos tbody ').html('');
            $('.analisisDisponibles tbody .selectAnalisis').removeAttr('disabled').removeAttr('checked');

            // Llenar Modal
            $('#MenuAnalisis').modal();

            //Simular Presionar Click
            $('.AnalisisTable tbody tr.analisisTRescogido').each(function (i, x) {
                var analisisID = $(x).find('.analisisIDescogido').val();

                $('.analisisDisponibles .trAnalisisDisponible.trAnalisisDisponible_' + analisisID).each(function (i, tr) {
                    $(tr).find('input[type=checkbox]').click();
                });
            });
        });

        $('#MenuAnalisis #aceptarAnalisis').click(function () {
            $("#MenuAnalisis").modal('hide');
            //var muestraID = $('#MenuAnalisis #modalMuestraID').val();
            //var tableClass = 'muestra' + muestraID;

            var listaAnalisisID = [];
            $('#analisisElegidos tbody tr .check').each(function (index, y) {

                //var tempValor = $(y).find('.tempValor').val();
                //if (tempValor == 0)
                //    tempValor = $('#MenuAnalisis #modalMuestraCantidad').val();

                listaAnalisisID.push({
                    analisisid: $(y).find('input[type=checkbox]').attr('data-analisisid'),
                    //cantidad: tempValor,
                    areaNombre: $(y).find('input[type=checkbox]').attr('data-areanombre')
                });
            });

            listaAnalisisID.sort(function (a, b) { return a.analisisid - b.analisisid; });

            // Limpiar tabla
            $('.AnalisisTable tbody').html('');

            listaAnalisisID.forEach(function (atemp, indice) {
                //addAnalisis(muestraID, atemp.analisisid, tableClass, atemp.cantidad, atemp.areaNombre, indice + 1);
                addAnalisis(atemp.analisisid, atemp.areaNombre, indice + 1);
            });

        });

        $('.analisisDisponibles .selectAnalisis').click(function () {
            addAnalisisElegido($(this).attr('data-analisisID'));
            $(this).attr('disabled', 'disabled');
        });

        var eliminarElegido = function () {
            var analisisID = $(this).attr('data-analisisID');
            $('.analisisDisponibles tr.trAnalisisDisponible_' + analisisID + ' .selectAnalisis').removeAttr('disabled').removeAttr('checked');
            $(this).parent().parent().remove();
        }

        $('#analisisElegidos .selectAnalisis').click(eliminarElegido);

        function addAnalisis(analisisID, areaNombre, index) {

            var ticks = Math.floor(Math.random() * (2147483640 - 21474800 + 1)) + 21474800;
            var template = $($.trim($("#detallePlantilla-row-template").html().replace(/\[-1\]/g, '[' + ticks + ']')));

            template.find('[name*="Item.ListaAnalisis.Index"]').val(ticks);
            template.find('[name*="Item.ListaAnalisis[' + ticks + '].AnalisisID"]').val(analisisID);
            template.find('.analisisNombre').html(catalogoAnalisis[analisisID].nombre);
            template.find('.grupoAnalisisNombre').html(catalogoAnalisis[analisisID].grupo);
            template.find('.areaNombre').html(catalogoAnalisis[analisisID].area);
            template.find('span.indiceDetallePlantilla').html(index);
            /*aqui cambie*/

            $('.AnalisisTable tbody').append(template);
        }

        function addAnalisisElegido(analisisID) {
            var ticks = Math.floor(Math.random() * (2147483640 - 21474800 + 1)) + 21474800;
            var template = $($.trim($("#analisisMuestraElegido-row-template").html().replace(/\[-1\]/g, '[' + ticks + ']')));
            var analisis = catalogoAnalisis[analisisID];

            template.find('.check input[type=checkbox]').attr('data-analisisid', analisisID).click(eliminarElegido);
            template.find('.check input[type=checkbox]').attr('data-areanombre', analisis.area).click(eliminarElegido);
            template.find('.nombre').html(analisis.nombre);
            template.find('.grupo').html(analisis.grupo);
            template.find('.area').html(analisis.area);
            template.addClass('anEl_' + analisisID);

            $('#analisisElegidos tbody').append(template);
        }

        $('.analisisTRescogido .delete').click(function () {
            $(this).closest('tr').remove();
        });
    </script>

    @ModalMenuAnalisisHelper.ScriptFiltroAnalisis()
}
