﻿@model PlantillaListViewModel

@{
    ViewBag.Title = "Listado Plantillas";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>

<table class="table">
    <tr>
        <th>Nombre</th>
        <th>Número de Análisis</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Item)
    {
        <tr class="celda">
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @item.ListaAnalisis.Count()
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "fa fa-edit", title = "Editar" }) |
                @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "fa fa-trash", title = "Eliminar" }) 
            </td>
        </tr>
    }
</table>

@section scripts {
}
