﻿@model Verdezul.SYSOSP.Web.Areas.Admin.Models.UserViewModel
@{
    ViewBag.Title = "Edición de Usuario";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Item.UserName)
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <label class="col-md-2 control-label" for="Item_UserName">Usuario</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Item.UserName, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
        </div>
    </div>
    <div class="form-group userMain">
        @Html.LabelFor(m => m.Item.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Item.Email, new { @class = "form-control" })
        </div>

        @Html.LabelFor(m => m.Item.Cedula, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Item.Cedula, new { @class = "form-control" })
        </div>

        @Html.LabelFor(m => m.Item.Nombres, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Item.Nombres, new { @class = "form-control" })
        </div>

        @Html.LabelFor(m => m.Item.Apellidos, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Item.Apellidos, new { @class = "form-control" })
        </div>

        @Html.LabelFor(m => m.Item.Cargo, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Item.Cargo, new { @class = "form-control" })
        </div>

        @Html.LabelFor(m => m.Item.Titulo, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Item.Titulo, new { @class = "form-control" })
        </div>

        <label class="col-md-2 control-label" for="Item_PhoneNumber">Teléfono</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Item.PhoneNumber, new { @class = "form-control" })
        </div>

        @Html.LabelFor(m => m.Item.Activo, new { @class = "col-md-2 control-label" })
        <div class="form-check">
            <input type="checkbox" id="Item_Activo" class="form-check-input form-control" name="Item.Activo" @(Model.Item.Activo ? "checked" : "") />
        </div>

        <label class="col-md-2 control-label" for="Item_EsBioquimico">Es Bioquimico</label>
        <div class="form-check">
            <input type="checkbox" id="Item_EsBioquimico" name="Item.EsBioquimico" class="form-check-input form-control" @(Model.Item.EsBioquimico ? "checked" : "") />
        </div>

        <label class="col-md-2 control-label" for="Item_Bloqueada">Cuenta Bloqueada</label>
        <div class="form-check">
            <input type="checkbox" id="Item_Bloqueada" name="Item.Bloqueada" class="form-check-input form-control" @(Model.Item.Bloqueada ? "checked" : "") />
        </div>
    </div>
    <table class="table">
        <tr>
            <th>
                Roles Asignados
            </th>
        </tr>

        @foreach (var item in Model.Roles.OrderBy(x => x.Key))
        {
            <tr>
                <td>
                    <input type="checkbox" name="Item.Roles[@item.Key]" @((Model.Item.Roles.SingleOrDefault(x => x.RoleId == item.Key) != null) ? "checked" : "") />
                    @item.Value.Replace("_", " ")
                </td>
            </tr>
        }
    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Grabar" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a Listado", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
