﻿@model Verdezul.SYSOSP.Web.Areas.Admin.Models.UserListViewModel

@{
    ViewBag.Title = "Listado Usuarios";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Nuevo", "Register", "Account")
</p>

<table class="table userList">
    <tr>
        <th>
            Usuario
        </th>
        <th>
            Bioquímico
        </th>
        @foreach (var rol in Model.Roles.OrderBy(x => x.Key))
        {
            <th>
                <center>@rol.Value.Replace("_", " ")</center>
            </th>
        }
        <th></th>
    </tr>

    @foreach (var item in Model.Item.OrderBy(x => x.UserName))
    {
        <tr>
            <td class="@(item.Bloqueada ? "bloqueado" : "")">
                @Html.DisplayFor(modelItem => item.NombresCompletos)
                <div class="userBlue">@Html.DisplayFor(modelItem => item.UserName)</div>
            </td>
            <td>
                <center><input type="checkbox" disabled @(item.EsBioquimico ? "checked" : "") /></center>
            </td>
            @foreach (var rol in Model.Roles.OrderBy(x => x.Key))
            {
                <th>
                    <center><input type="checkbox" disabled @(item.Roles.SingleOrDefault(x => x.RoleId == rol.Key) != null ? "checked" : "") /></center>
                </th>
            }
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.UserName })
            </td>
        </tr>
    }
</table>
@section scripts {
}
