﻿@{
    var serverEnvironment = Verdezul.SYSOSP.Web.Environment.Server.GetServerEnvironment();
    var ambienteTitulo = (serverEnvironment != Verdezul.SYSOSP.Web.Environment.ServerEnvironment.Produccion ? serverEnvironment.ToString() : "");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SYSOSP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/9457d00a72.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">SYSOSP <span class="@ambienteTitulo">@ambienteTitulo</span></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br />
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.UtcNow.Year - Verdezul Apps | Ambiente: @Verdezul.SYSOSP.Web.Environment.Server.GetServerEnvironment()</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
