﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Página incorrecta";
}

<h2 class="text-danger">Esta página no puede ser mostrada</h2>
<h3 class="text-danger">Estamos en mantenimiento de alguna información.</h3>
<h3 class="text-danger">Pronto el inconveniente será solucionado.</h3>

