﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Requerido */
.control-label.required::after { content: "*" }
.catalogosAnalisisMain input.form-control[type=checkbox] { width: unset; }

/* Extras */
.pedidoMain input.form-control[type=checkbox],
.userMain input.form-control[type=checkbox]
{ width: unset; }

.pedidoMain #universal,
.pagoContratoMain #universal {
    display: inline-block;
}

.pedidoMain .tablaResultados {
    width: 100%;
}

input.numero { width: 80px;}

/* Modal Analisis*/
#MenuAnalisis .modal-body { height: 520px; }
#MenuAnalisis .modal-dialog { width: 1080px; }
#MenuAnalisis .tableAnalisis { height: 470px; }
#MenuAnalisis .tableAnalisis .tdAnalisis { width: 50%; height: 495px; }
#MenuAnalisis .divAnalisis { overflow-y: scroll; width: 500px; }
#MenuAnalisis .divAnalisis.izquierdo { margin: 0 10px 0 0; height: calc(100% - 26px);}
#MenuAnalisis .divAnalisis.derecho { margin: 0 0 0 10px; height: calc(100% + 40px);}
.analisisDisponibles .tdCheck { width: 30px; }
.catalogoHeader { color: #ffffff; background-color: #428bca; }
#eliminarFiltroAnalisis, #textoFiltroAnalisis { display: inline-block; }

/* Modal Plantillas*/
#MenuAnalisisPlantilla .modal-body { height: 550px; overflow-x: auto; }

/* Lista de Usuarios */
.userList .userBlue { color: green; }
.userList .bloqueado { color: red; }

.bioQuimicoMain .eliminado td { color: #e91e63; }

td.numero { text-align: right; }

#universal,
.fechaJQ { display: inline-block; }

.fechaJQ { width: 100px; }

/* Analisis */
#AnalisisTable .subAnalisis span { padding-left: 20px; }

/* Titulos de Ambiente */
.Testing { color: red; }
.Desarrollo { color: blue; }

/* Otros */
.inputTexto { background-color: white!important; border: none; padding: 0; }
#context-menu ul { list-style:none; padding: 0 20px;  margin: 0; }

/*Tabla*/
tr.celda:hover { background-color: #eaf4ff; }

/*Iconos de Pedido*/
.celda .numeroProforma { white-space: nowrap; }
.celda .escondidos { display: none; }
.celda .filaIconos { width:32px; }
.accionesPedido a:not(:last-child):after { content: " | " }

/* Submenus */
.dropdown-submenu { position: relative; }
.dropdown-submenu .dropdown-menu { top: 0; left: 100%; margin-top: -1px;}

/* TextosGrandes */
.bigText { line-break: anywhere; }

/* Cabecera OrdenTrabajo */
.cabeceraOrdenTrabajo { width:100%; }
.cabeceraOrdenTrabajo tr td:first-child { width:30%; font-weight: bold; font-size: 16px; }
.cabeceraOrdenTrabajo td, .cabeceraOrdenTrabajo th { border-top: none !important;}
.cabeceraOrdenTrabajo th { text-align: right;}

/* Reportes Proformas */
#nombreReferencialCliente.form-report { display: inline; border: none; background: none; width: 100%; }

/* Botones de Notificar por correo */
.notificarResultadosInforme.no-notificado { background-color: red;}