﻿@model PedidoViewModel
@{
    var archivosResultados = Model.Item.Archivos.Where(x => x.Tipo == TipoArchivo.InformeResultados).ToList();
    var archivosSuplementarios = Model.Item.Archivos.Where(x => x.Tipo == TipoArchivo.InformeSuplementario).ToList();
    var archivosOrdenesTrabajo = Model.Item.Archivos.Where(x => x.Tipo == TipoArchivo.OrdenTrabajo).ToList();
    var archivosMuestras = Model.Item.Archivos.Where(x => x.Tipo == TipoArchivo.RecepcionMuestra).ToList();
    var notificaciones = Model.Item.EnviosCorreo.ToList();
    var mostrarCondensado = Model.Item.Estado == EstadoPedido.Aceptado || Model.TipoMantenimiento == TipoMantenimiento.RevisionFactura;
}
<div class="form-group">

    <h3>Análisis</h3>

    @if (mostrarCondensado)
    {
        <ul class="nav nav-tabs" id="AnalisisTab" role="tablist">
            <li class="nav-item active">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Desglose</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="cond-tab" data-toggle="tab" href="#cond" role="tab" aria-controls="cond" aria-selected="false">Condensado</a>
            </li>
        </ul>
    }

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <table id="AnalisisTable" class="table">
                <tbody>
                    @if (Model.Item.Ordenes.Any())
                    {
                        foreach (var ordenTrabajo in Model.Item.Ordenes.Select((x, i) => new { index = i, value = x }))
                        {
                            var archivoODT = archivosOrdenesTrabajo.SingleOrDefault(c => c.IdOrdenTrabajo == ordenTrabajo.value.ID && c.Subido);
                            <tr>
                                <td colspan="8">
                                    <table class="cabeceraOrdenTrabajo">
                                        <tr>
                                            <td>Orden de Trabajo @ordenTrabajo.value.Numero | @ordenTrabajo.value.Area.Nombre</td>
                                            <th>Tiempo de Entrega*</th>
                                            <td>
                                                @if (Model.Item.Estado == EstadoPedido.Parametrizado)
                                                {
                                                    <input class="form-control" type="number" value="@ordenTrabajo.value.TiempoEntrega" name="Item.Ordenes[@ordenTrabajo.value.ID].TiempoEntrega" placeholder="15 (días)" />
                                                    @Html.ValidationMessage(String.Format("Item.Ordenes[{0}].TiempoEntrega", ordenTrabajo.value.ID), new { @class = "text-danger" })
                                                }
                                                else
                                                {
                                                    @String.Format("{0} días", ordenTrabajo.value.TiempoEntrega)
                                                }
                                            </td>
                                            <th>Número de Informes*</th>
                                            <td>
                                                @if (Model.Item.Estado == EstadoPedido.Parametrizado)
                                                {
                                                    <input class="form-control" type="number" value="@ordenTrabajo.value.CantidadInformes" name="Item.Ordenes[@ordenTrabajo.value.ID].CantidadInformes" />
                                                    @Html.ValidationMessage(String.Format("Item.Ordenes[{0}].CantidadInformes", ordenTrabajo.value.ID), new { @class = "text-danger" })
                                                }
                                                else
                                                {
                                                    @ordenTrabajo.value.CantidadInformes
                                                }
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            @AnalisisHelper.FilaAccionesOrdenTrabajo(Url, Model.Item.Estado, archivoODT, ordenTrabajo.value, Model.SubmitAction)

                            foreach (var muestra in ordenTrabajo.value.AnalisisMuestras.OrderBy(p => p.Muestra.Numero).GroupBy(x => x.Muestra))
                            {
                                var archivoMuestra = archivosMuestras.SingleOrDefault(x =>  x.Tipo == TipoArchivo.RecepcionMuestra &&
                                                                                            x.IdMuestra == muestra.Key.ID &&
                                                                                            x.Subido);
                                <tr>
                                    <th></th>
                                    <th colspan="7">
                                        Muestra: @muestra.Key.NombreMuestra (@muestra.Key.Estado) @*@(archivoResultado!=null && archivoResultado.Subido?"(Resultados Cargados)":"")*@
                                    </th>
                                </tr>
                                if (Model.Item.Estado == EstadoPedido.Pagado &&
                                    User.IsInRole(Constantes.ROL_AREAS) &&
                                    muestra.Key.Estado == EstadoMuestra.Recibida &&
                                    ordenTrabajo.value.Area.Bioquimico.UserName == User.Identity.Name)
                                {
                                    <tr>
                                        <td colspan="1"></td>
                                        <td colspan="7" class="text-left">
                                            @if (archivoMuestra != null)
                                            {
                                                @PedidoHelper.ListaSubidaResultados(Url, ordenTrabajo.value, muestra.Key, archivosResultados, archivosSuplementarios, notificaciones)
                                            }
                                            else
                                            {
                                                <span style="color:red;">Archivo de Recepción Pendiente</span>
                                            }
                                        </td>
                                    </tr>
                                }

                                if ((Model.Item.Estado == EstadoPedido.Pagado || Model.Item.Estado == EstadoPedido.Entregado) &&
                                    User.IsInRole(Constantes.ROL_SECRE) &&
                                    muestra.Key.Estado == EstadoMuestra.Recibida)
                                {
                                    <tr>
                                        <td colspan="1"></td>
                                        <td colspan="7" class="text-left">
                                            @if (archivoMuestra != null)
                                            {
                                                @PedidoHelper.ListaNotificacionResultados(Url, ordenTrabajo.value, muestra.Key, archivosResultados, archivosSuplementarios, notificaciones)
                                            }
                                            else
                                            {
                                                <span style="color:red;">Archivo de Recepción Pendiente</span>
                                            }
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>Análisis</th>
                                    <th class="text-right">Cantidad</th>
                                    <th class="text-right">V.U.</th>
                                    <th class="text-right">Subtotal</th>
                                    <th class="text-right">IVA</th>
                                    <th class="text-right">Total</th>
                                </tr>

                                foreach (var analisisMuestra in muestra.Select((x, i) => new { index = i, value = x }))
                                {
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <td>@analisisMuestra.value.Nombre@*<br /><i>@analisisMuestra.value.Tecnica</i>*@</td>
                                        <td class="text-right">@analisisMuestra.value.Cantidad</td>
                                        <td class="text-right">@analisisMuestra.value.Valor</td>
                                        <td class="text-right">@analisisMuestra.value.TotalSinIVA</td>
                                        <td class="text-right">@String.Format("{0:#,##0.00}", analisisMuestra.value.TotalValorIVA)</td>
                                        <td class="text-right">@String.Format("{0:#,##0.00}", analisisMuestra.value.TotalConIVA)</td>
                                    </tr>

                                    foreach (var sam in analisisMuestra.value.SubAnalisisMuestra)
                                    {
                                        <tr class="subAnalisis">
                                            <th></th>
                                            <th></th>
                                            <td colspan="6"><span>@sam.Nombre</span></td>
                                        </tr>
                                    }
                                }
                            }
                        }
                        <tr>
                            <th colspan="3" class="text-right">TOTAL PEDIDO
                            <th>
                            <th></th>
                            <th class="text-right">@String.Format("{0:#,##0.00}", Model.Item.CostoTotalSinIVA)</th>
                            <th class="text-right">@String.Format("{0:#,##0.00}", Model.Item.SumaTotalValorIVA)</th>
                            <th class="text-right">@Model.Item.CostoTotalConIVA.ToString("c")</th>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <th colspan="6">
                                No hay análisis asignados
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @if (mostrarCondensado)
        {
            List<AnalisisMuestra> lam = new List<AnalisisMuestra>();
            Model.Item.Ordenes.ToList().ForEach(x => lam.AddRange(x.AnalisisMuestras));

            <div class="tab-pane fade" id="cond" role="tabpanel" aria-labelledby="cond-tab">
                <table class="table">
                    <tr>
                        <th>Área</th>
                        <th>Grupo</th>
                        <th>Análisis</th>
                        <th class="text-right">Cantidad</th>
                        <th class="text-right">V.U.</th>
                        <th class="text-right">Subtotal</th>
                        <th class="text-right">IVA</th>
                        <th class="text-right">Total</th>
                    </tr>
                    @foreach (var analisisMuestra in lam
                        .OrderBy(x => x.Analisis.GrupoAnalisis.Area.Nombre)
                        .ThenBy(x => x.Analisis.GrupoAnalisis.Nombre)
                        .ThenBy(x => x.Analisis.Nombre)
                        .GroupBy(x => new
                        {
                            x.Nombre,
                            NombreGrupo = x.Analisis.GrupoAnalisis.Nombre,
                            NombreArea = x.Analisis.GrupoAnalisis.Area.Nombre
                        }))
                    {
                        <tr>
                            <td>@analisisMuestra.Key.NombreArea</td>
                            <td>@analisisMuestra.Key.NombreGrupo</td>
                            <td>@analisisMuestra.Key.Nombre</td>
                            <td class="text-right">@analisisMuestra.Sum(x => x.Cantidad)</td>
                            <td class="text-right">@analisisMuestra.Average(x => x.Valor)</td>
                            <td class="text-right">@String.Format("{0:#,##0.00}", analisisMuestra.Sum(x => x.TotalSinIVA))</td>
                            <td class="text-right">@String.Format("{0:#,##0.00}", analisisMuestra.Sum(x => x.TotalValorIVA))</td>
                            <td class="text-right">@String.Format("{0:#,##0.00}", analisisMuestra.Sum(x => x.TotalConIVA))</td>
                        </tr>
                    }
                    <tr>
                        <th colspan="2">TOTAL PEDIDO</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="text-right">@String.Format("{0:#,##0.00}", Model.Item.CostoTotalSinIVA)</th>
                        <th class="text-right">@String.Format("{0:#,##0.00}", Model.Item.SumaTotalValorIVA)</th>
                        <th class="text-right">@Model.Item.CostoTotalConIVA.ToString("c")</th>
                    </tr>
                </table>
            </div>
        }
    </div>
</div>
