﻿@model PedidoViewModel
@{
    var recepciones = Model.Item.Archivos.Where(x => x.Tipo == TipoArchivo.RecepcionMuestra);
    var resultados = Model.Item.Archivos.Where(x => x.Tipo == TipoArchivo.InformeResultados);
}
<div class="form-group">
    <h3>Muestras</h3>
    @Html.ValidationMessage("NumeroAnalisisMuestras", new { @class = "text-danger" }) <br />
    @foreach (var item in Model.Item.Muestras.Select((x, i) => new { index = i + 1, muestra = x }))
    {
        var classTable = String.Format("muestra{0}", item.muestra.ID);
        <b>Muestra @item.muestra.NombreMuestra (@item.muestra.Cantidad)</b> <br />
        <input type="button" value="Modificar Análisis" class="btn btn-primary addAnalisis" data-muestraTable="@classTable" data-muestraID="@item.muestra.ID" data-muestraCantidad="@item.muestra.Cantidad" />
        <input type="button" value="Modificar Análisis por Plantilla" class="btn btn-primary addAnalisisxPlantilla" data-muestraTable="@classTable" data-muestraID="@item.muestra.ID" data-muestraCantidad="@item.muestra.Cantidad" />
        @Html.ValidationMessage(String.Format("Item.Muestra[{0}].NumeroAnalisisMuestras", item.muestra.ID), new { @class = "text-danger" }) <br />
        <table class="table AnalisisTable @classTable">
            <thead>
                <tr>
                    <th>No.</th>
                    <th><label class="control-label required">Analisis</label></th>
                    <th><label class="control-label required">Cantidad</label></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var itemAM in item.muestra.AnalisisMuestras.Select((y, p) => new { index = p + 1, analisisMuestra = y }))
                {
                    @PedidoHelper.AnalisisRow(Html,
                                                itemAM.analisisMuestra,
                                                itemAM.analisisMuestra.Ticks.HasValue ? itemAM.analisisMuestra.Ticks.Value : (item.index * 1000) + itemAM.index,
                                                itemAM.index)
                }
            </tbody>
        </table>
    }
</div>