﻿@model PedidoViewModel
@{
    var archivos = Model.Item.Archivos.OrderBy(x => x.Tipo);
}
<div class="form-group">
    <h3>Archivos</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Archivos que revisa el Cliente <a href="@Model.UrlPedido" target="_blank" class="fa fa-file"></a></th>
                <th><center><span class="fa fa-calendar"></span></center></th>
                <th><center><span class="fa fa-envelope"></span></center></th>
                <th><center><span class="fa fa-download"></span></center></th>
                @if (Model.Item.Estado == EstadoPedido.Aprobado)
                {
                    <th><center><span class="fa fa-trash"></span></center></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var archivo in archivos)
            {
                if (archivo.Tipo == TipoArchivo.InformeSuplementario)
                {
                    var informePrincipal = archivos.Single(x =>
                        x.IdOrdenTrabajo == archivo.IdOrdenTrabajo &&
                        x.IdMuestra == archivo.IdMuestra &&
                        x.NumeroInforme == archivo.NumeroInforme &&
                        x.Tipo == TipoArchivo.InformeResultados
                    );

                    if (!informePrincipal.NecesitaSuplementario)
                    {
                        continue;
                    }
                }

                string nombreOrden = "";

                switch (archivo.Tipo)
                {
                    case TipoArchivo.Proforma:
                    case TipoArchivo.AceptacionCliente:
                        nombreOrden = Model.Item.NumeroProforma;
                        break;
                    case TipoArchivo.OrdenTrabajo:
                        var ordenTrabajo = Model.Item.Ordenes.Single(x => x.ID == archivo.IdOrdenTrabajo);
                        nombreOrden = ordenTrabajo.NombreOrden;
                        break;
                    case TipoArchivo.RecepcionMuestra:
                        var rm = Model.Item.Muestras.Single(x => x.ID == archivo.IdMuestra);
                        nombreOrden = rm.NombreMuestra;
                        break;
                    case TipoArchivo.InformeResultados:
                    case TipoArchivo.InformeSuplementario:
                        var ott = Model.Item.Ordenes.Single(x => x.ID == archivo.IdOrdenTrabajo);
                        var rm2 = Model.Item.Muestras.Single(x => x.ID == archivo.IdMuestra);
                        nombreOrden = String.Format("{0} | {1} | Informe {2}", rm2.NombreMuestra, ott.NombreOrden, archivo.NumeroInforme);
                        break;
                }

                var envio = Model.Item.GetNotificacionxArchivo(archivo.ID);

                <tr>
                    <td>@archivo.Tipo.ToDisplayName() @nombreOrden</td>
                    <td><center>@(archivo.Subido ? archivo.EntityDate.ToEcuadorDate().ToString(TipoSalida.FechaHoraMinuto) : "")</center></td>
                    <td><center>@(envio != null ? envio.EntityDate.ToEcuadorDate().ToString(TipoSalida.FechaHoraMinuto) : "")</center></td>
                    <td>
                        <center>
                        @if (archivo.Subido)
                        {
                            <a target="_blank" href="@Url.Action("Descargar", "Archivos", new { area = "Admin", id = archivo.ID })" title="Descargar"><span class="fa fa-download"></span></a>
                        }
                        else
                        {
                            <span>Pendiente</span>
                        }
                        </center>
                    </td>
                    @if (Model.Item.Estado == EstadoPedido.Aprobado)
                    {
                        <td>
                            <center>
                                @if (archivo.Subido && archivo.Tipo != TipoArchivo.Solicitud)
                                {
                                    <a href="@Url.Action("Eliminar", "Archivos", new { area = "Admin", idArchivo = archivo.ID, accion = "Aceptar" })" class="confirmar" mensajeConfirmacion="¿Está seguro que desea eliminar este archivo?" title="Eliminar"><span class="fa fa-trash"></span></a>
                                }
                            </center>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
