﻿@model PedidoViewModel
<div class="form-group">
    <h3>Muestras</h3>

    <input id="addMuestra" type="button" value="Agregar Muestra" class="btn btn-primary" />
    @Html.ValidationMessage("NumeroMuestras", new { @class = "text-danger" })

    <table id="MuestrasTable" class="table">
        <thead>
            <tr>
                <th>#</th>
                <th><label class="control-label required">Detalle</label></th>
                <th><label class="control-label required">Cantidad</label></th>
                <th><label class="control-label required">Cantidad Requerida</label></th>
                <th><label class="control-label">Observación</label></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Item.Muestras.Select((x, i) => new { index = i + 1, value = x }))
            {
                @PedidoHelper.MuestraRow(Html, item.value, item.value.Ticks.HasValue ? item.value.Ticks.Value : item.index, item.index)
            }
        </tbody>
    </table>
</div>