﻿@model PedidoViewModel
@{
    var recepciones = Model.Item.Archivos.Where(x => x.Tipo == TipoArchivo.RecepcionMuestra && x.Subido);
    var resultados = Model.Item.Archivos.Where(x => x.Tipo == TipoArchivo.InformeResultados && x.Subido);
    var ordenes = Model.Item.Archivos.Where(x => x.Tipo == TipoArchivo.OrdenTrabajo && x.Subido);
}
<div class="form-group">
    <h3>Muestras</h3>
    <table class="table">
        <thead>
            <tr>
                <th>No.</th>
                <th>Detalle</th>
                <th>Cantidad</th>
                <th>Cantidad Requerida</th>
                <th>Observación</th>
                @if (Model.Item.Estado >= EstadoPedido.Pagado)
                {
                    <th>Descripción</th>
                    <th>Estado</th>
                    <th>Recepción</th>
                    <th>Acciones</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Item.Muestras.OrderBy(o => o.Numero))
            {
                <tr>
                    <td>@item.Numero</td>
                    <td class="bigText">@item.Detalle</td>
                    <td>@item.Cantidad</td>
                    <td class="bigText">@item.CantidadRequerida</td>
                    <td class="bigText">@item.ObservacionInicial</td>
                    @if (Model.Item.Estado >= EstadoPedido.Pagado)
                    {
                        var recepcion = recepciones.SingleOrDefault(x => x.IdMuestra == item.ID);
                        var numeroResultados = resultados.Where(x => x.IdMuestra == item.ID).Count();

                        <td>@item.Descripcion</td>
                        <td>@item.Estado</td>
                        <td>@(item.FechaRecepcion.HasValue ? item.FechaRecepcion.Value.ToString("dd/MM/yyyy") : "")</td>
                        <td>
                            @if (User.IsInRole(Constantes.ROL_SECRE) && Model.Item.Estado == EstadoPedido.Pagado && Model.SubmitAction == "RecibirMuestras")
                            {
                                switch (item.Estado)
                                {
                                    case EstadoMuestra.Pendiente:
                                        if (Model.Item.Estado == EstadoPedido.Pagado)
                                        {
                                            if (!item.OrdenesPendientes(ordenes.Select(x => x.IdOrdenTrabajo.Value).ToList()))
                                            {
                                                <a href="@Url.Action("Edit", "Muestras", new { area = "Admin", id = item.ID })"> Recibir Muestra </a>
                                            }
                                            else 
                                            { 
                                                @("OT's Pendientes")
                                            }
                                        }
                                        break;
                                    case EstadoMuestra.Recibida:
                                        if (recepcion == null)
                                        {
                                            <input type="button" value="Imprimir Recepción" class="btn btn-primary imprimirRecepcion" data-IdMuestra="@item.ID" name="Item.Action" />
                                            <input type="button" value="Subir Recepción Firmada" class="btn btn-primary subirRecepcion" data-IdMuestra="@item.ID" name="Item.Action" />
                                        }
                                        else
                                        {
                                            <a target="_blank" href="@Url.Action("Descargar", "Archivos", new { area = "Admin", id = recepcion.ID })"> Descargar Recepción</a><br />

                                            if (numeroResultados == 0)
                                            {
                                                <a href="@Url.Action("Eliminar", "Archivos", new { area = "Admin", idArchivo = recepcion.ID, accion = "RecibirMuestras" })" class="confirmar" mensajeConfirmacion="¿Está seguro que desea eliminar esta recepción?"> Eliminar </a>
                                            }
                                        }
                                        break;
                                }
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>