﻿@model PedidoViewModel
<div class="form-group">
    <h3>Pagos</h3>

    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Item.FormaPago)</dt>
        <dd>@((Model.Item.FormaPago == 0) ? "(ninguna)" : Model.Item.FormaPago.ToDisplayName())</dd>

        <dt>@Html.DisplayNameFor(model => model.Item.DocumentoRecaudacion)</dt>
        <dd>@((Model.Item.DocumentoRecaudacion == 0) ? "(ninguna)" : Model.Item.DocumentoRecaudacion.ToDisplayName())</dd>

        <dt>@Html.DisplayNameFor(model => model.Item.InformacionPago)</dt>
        <dd>@((Model.Item.InformacionPagoOficial == null) ? "(ninguna)" : Model.Item.InformacionPagoOficial)</dd>

        <dt>@Html.DisplayNameFor(model => model.Item.FechaRecaudacion)</dt>
        <dd>@(Model.Item.FechaRecaudacion.HasValue ? Model.Item.FechaRecaudacion.Value.ToEcuadorDate().ToString("dd/MM/yyyy") : "")</dd>

        @if (Model.TipoMantenimiento == TipoMantenimiento.RevisionFactura)
        {
            <dt>@Html.DisplayNameFor(model => model.Item.Factura)*</dt>
            <dd>@Html.TextBoxFor(x => x.Item.Factura, new { @class = "form-control required", @data_val_required = "El número de factura es requerido", placeholder="0125487" })</dd>
            <dd>@Html.ValidationMessage(String.Format("Item.Factura"), new { @class = "text-danger" })</dd>
            <dd><input id="grabarFactura" value="Registrar Factura" class="btn btn-default" type="submit" /></dd>
        }
        else
        {
            <dt>@Html.DisplayNameFor(model => model.Item.Factura)</dt>
            <dd>@(Model.Item.Factura ?? "-") </dd>
        }

        @if (User.IsInRole(Constantes.ROL_GESTI) && Model.Item.Estado != EstadoPedido.Cerrado)
        {
            <dt></dt>
            <dd><input id="notificarPago" value="Enviar Notif. Pago" class="btn btn-default" data-initialvalue="Enviar Notif. Pago" /></dd>
        }
    </dl>
</div>
