﻿@model PedidoViewModel
@{
    var fechaRecaudacionString = Model.Item.FechaRecaudacion.HasValue ? Model.Item.FechaRecaudacion.Value.ToEcuadorDate().ToString("yyyy-MM-dd") : "";

    var listaContratos = new List<SelectListItem>();
    if (Model.PagosContratos != null)
    {
        listaContratos = Model.PagosContratos.Select(x => new SelectListItem { Text = x.NombreContrato, Value = x.ID.ToString() }).ToList();
        listaContratos.Insert(0, new SelectListItem { Text = "(Seleccione Contrato)", Value = "" });
    }
}
<div class="form-group">
    <h3>Pagos</h3>

    @Html.LabelFor(model => model.Item.FormaPago, htmlAttributes: new { @class = "control-label col-md-2 required" })
    <div class="col-md-10">
        @Html.EnumDropDownListFor(x => x.Item.FormaPago, "(Seleccione)", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Item.FormaPago, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(model => model.Item.DocumentoRecaudacion, htmlAttributes: new { @class = "control-label col-md-2 DocumentoRecaudacionSelect required" })
    <div class="col-md-10 DocumentoRecaudacionSelect">
        @Html.EnumDropDownListFor(x => x.Item.DocumentoRecaudacion, "(Seleccione)", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Item.DocumentoRecaudacion, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(model => model.Item.InformacionPago, htmlAttributes: new { @class = "control-label col-md-2 required" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Item.InformacionPago, new { htmlAttributes = new { @class = "form-control InformacionPagoText" } })
        @Html.DropDownListFor(x => x.Item.PagoContratoID, listaContratos, new { @class = "form-control InformacionPagoSelect" })
        @Html.ValidationMessageFor(model => model.Item.InformacionPago, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(model => model.Item.FechaRecaudacion, htmlAttributes: new { @class = "control-label col-md-2 required" })
    <div class="col-md-10">
        <input class="form-control text-box single-line" data-val="true" data-val-date="El campo debe ser una fecha válida"
               id="Item_FechaRecaudacion" name="Item.FechaRecaudacion" type="date" value="@fechaRecaudacionString">
        @Html.ValidationMessageFor(model => model.Item.FechaRecaudacion, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(model => model.Item.Factura, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(x => x.Item.Factura, new { @class = "form-control" })
    </div>
</div>
