﻿@using Verdezul.SYSOSP.Web.Entities;

@model PedidoAprobadoListViewModel
@{
    ViewBag.Title = "Caducación Masiva de Pedidos";
    var grupos = Model.Item.GroupBy(x => x.Estado).Select(g => new { Estado = g.First().Estado, Items = g }).OrderBy(x => x.Estado).ToList();
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <dl class="dl-horizontal">
        <dt>Fecha Inicio</dt>
        <dd><input type="text" name="FechaInicialTexto" id="FechaInicialTexto" value="@Model.FechaInicialTexto" class="form-control text-box single-line fechaJQ" /></dd>
        <dt>Fecha Final</dt>
        <dd><input type="text" name="FechaFinalTexto" id="FechaFinalTexto" value="@Model.FechaFinalTexto" class="form-control text-box single-line fechaJQ" /></dd>
    </dl>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="SubmitAction" value="Buscar" class="btn btn-primary" />
            <input type="submit" name="SubmitAction" value="Caducar" class="btn btn-primary confirmar" mensajeConfirmacion="¿Confirma que desea caducar este grupo de Pedidos?" />
        </div>
    </div>
}
<br />
<br />

<table class="table">
    @foreach (var grupo in grupos)
    {
        <tr class="celdaCabecera @grupo.Estado">
            <td colspan="7">
                <b>Estado: <u>@((int)grupo.Estado) - @grupo.Estado.ToDisplayName() </u></b>
            </td>
        </tr>
        <tr class="celdaCabecera @grupo.Estado">
            <th></th>
            <th>Proforma / Pedido</th>
            <th>Cliente / Empresa</th>
            <th>Fecha @grupo.Estado.ToDisplayName()</th>
        </tr>

        foreach (var item in grupo.Items.OrderByDescending(x => x.FechaEstado.Fecha))
        {
            <tr class="celda @grupo.Estado">
                <th class="filaIconos">
                    <div class="iconos escondidos">
                        @if (User.IsInRole(Constantes.ROL_GESTI))
                        {
                            @Html.ActionLink(" ", "Duplicar", new { id = item.ID }, new { @class = "fa-solid fa-copy", title = "Duplicar" })
                        }
                    </div>
                </th>
                <th>@item.NumeroProforma / @item.NumeroPedido</th>
                <td>@Html.DisplayFor(modelItem => item.Cliente.NombreReferencial)</td>
                <td>@item.FechaEstado.Fecha.ToEcuadorDate().ToString("dd/MM/yyyy")</td>
            </tr>
        }
    }
</table>

@section scripts {

    @GenericHelper.ScriptMensajePostBack()

    @if (TempData["MensajePostBack"] != null)
    {
        <script> ShowMensajePostBack(@Html.Raw((TempData["MensajePostBack"] as MensajePostBack).ObjetoJS())); </script>
    }

    @ReporteHelper.ScriptDateTimePicker()

    @GenericHelper.ScriptConfirmarSubmit()
}
