﻿@model PedidoViewModel

@{
    ViewBag.Title = $"{Model.TipoMantenimiento} de Pedido";
    var actionName = "Create";
    switch (Model.TipoMantenimiento)
    {
        case TipoMantenimiento.Duplicación:
            actionName = "Duplicar";
            break;
    }
}

<h2>@ViewBag.Title</h2>

<div class="pedidoMain">

    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">
                @if (Model.TipoMantenimiento == TipoMantenimiento.Duplicación)
                {
                    <input type="radio" name="mantenerCliente" />
                }
            </label>
            <div class="col-md-10">
                @GenericHelper.BusquedaClientes()
            </div>
            @if (Model.TipoMantenimiento == TipoMantenimiento.Duplicación)
            {
                <label class="control-label col-md-2"><input type="radio" checked name="mantenerCliente" /></label>
                <div class="col-md-10">
                    <input value="Mantener Cliente" class="form-control text-box single-line inputTexto" disabled readonly />
                </div>
            }
            </div>
    </div>

    @using (Html.BeginForm(actionName, "Pedidos", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <br />
            @Html.ValidationSummary(true, Mensajes.MEN_GRABAR_PEDIDO, new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Item.ID)
            @Html.HiddenFor(model => model.Item.Numero)
            @Html.HiddenFor(model => model.Item.Estado)
            @Html.HiddenFor(model => model.PedidoIdDuplicado)
            @GenericHelper.ClienteIDTextBox(Model.Item.ClienteID)

            <h3>Generales</h3>
            <div class="form-group">
                @Html.LabelFor(model => model.Item.Cliente, htmlAttributes: new { @class = "control-label col-md-2 required" })
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="nombreReferencialCliente" type="text" disabled readonly value="@Model.Item.Cliente.NombreReferencial">
                    @Html.ValidationMessageFor(model => model.Item.ClienteID, "", new { @class = "text-danger" })
                </div>

                <label class="control-label col-md-2 required">Correo Electrónico</label>
                <div class="col-md-10 divCorreoCliente">
                    <input class="form-control text-box single-line" id="correoElectronicoCliente" type="text" disabled readonly value="@Model.Item.Cliente.CorreoElectronico">
                    @Html.ValidationMessage("CorreoElectronicoCliente", new { @class = "text-danger" })
                    @Html.ValidationMessage("CorreoElectronicoClienteLink", new { @class = "text-danger link" })
                </div>
            </div>

            <h3>Solicitud*</h3>
            <div class="form-group">
                <label class="control-label col-md-2" for="ArchivoSolicitud">
                    @if (Model.TipoMantenimiento == TipoMantenimiento.Duplicación)
                    {
                        <input type="radio" name="mantenerSolicitud" value="False" id="radioButtonNuevaSolicitud" />
                    }
                </label>
                <div class="col-md-10">
                    <input type="file" name="ArchivoSolicitud" class="form-control" id="ArchivoSolicitud" value="" />
                    @Html.ValidationMessage("ArchivoSolicitud", new { @class = "text-danger" })
                </div>
                @if (Model.TipoMantenimiento == TipoMantenimiento.Duplicación)
                {
                    <label class="control-label col-md-2" for="ArchivoSolicitud">
                        <input type="radio" name="mantenerSolicitud" value="True" id="radioButtonAnteriorSolicitud"/>
                    </label>
                    <div class="col-md-10">
                        <input value="Mantener Archivo de Solicitud" class="form-control text-box single-line inputTexto" disabled readonly />
                    </div>
                }
            </div>

            <h3>Adicionales</h3>
            <div class="form-group">
                @Html.LabelFor(model => model.Item.ValidezOferta, htmlAttributes: new { @class = "control-label col-md-2 required" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Item.ValidezOferta, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Item.ValidezOferta, "", new { @class = "text-danger" })
                </div>

                @Html.LabelFor(model => model.Item.PersonaContacto, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Item.PersonaContacto, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Item.PersonaContacto, "", new { @class = "text-danger" })
                </div>

                @Html.LabelFor(model => model.Item.InformacionAdicional, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Item.InformacionAdicional, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Item.InformacionAdicional, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Botones de Acción -->
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @if (User.IsInRole(Constantes.ROL_GESTI))
                    {
                        <input type="submit" name="Item.Action" value="Grabar Pedido" class="btn btn-primary confirmar" mensajeConfirmacion="¿Confirma que desea grabar este Pedido?" />
                    }
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Regresar a Listado", "Index")
    </div>
</div>
@GenericHelper.ModalBusquedaClientes()

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @GenericHelper.ScriptConfirmarSubmit()

    @GenericHelper.ScriptBusquedaClientes(Url.Action("Search", "Clientes"), Url.Action("Create", "Clientes"), null, "control-formulario")

    <script id="script-apoyoClienteSinCorreo">
        function añadirEnlaceAMensajeError() {
            if ($('.divCorreoCliente span.field-validation-error.link').length > 0) {
                $('.divCorreoCliente span.field-validation-error.link')
                    .html(  $('.divCorreoCliente span.field-validation-error.link')
                            .html()
                            .replace('#linkCliente', '<a href="' + '@Url.Action("Edit", "Clientes", new { id = Model.Item.ClienteID })' + '">Modificar Cliente</a>')
                         );
            }
        }

        $(function () {
            añadirEnlaceAMensajeError()
        });
    </script>

    <script>
        var MantenerSolicitud = @Model.MantenerSolicitud.ToString().ToLower();
        var EsDuplicacion = @((Model.TipoMantenimiento == TipoMantenimiento.Duplicación).ToString().ToLower());

        $('#radioButtonNuevaSolicitud').click(function () {
            $('#ArchivoSolicitud').removeAttr('disabled');
        });

        $('#radioButtonAnteriorSolicitud').click(function () {
            $('#ArchivoSolicitud').attr('disabled', 'disabled');
        });

        $(document).ready(function () {
            if (EsDuplicacion) {
                if (MantenerSolicitud) {
                    $('#radioButtonAnteriorSolicitud').click();
                } else {
                    $('#radioButtonNuevaSolicitud').click();
                }
            }
        });
    </script>
}
