﻿@model PedidoViewModel

@{
    ViewBag.Title = $"{Model.TipoMantenimiento.ToDisplayName()} de Pedido {Model.Item.Estado.ToDisplayName()}";
    var mostrarCondensado = Model.Item.Estado == EstadoPedido.Aceptado || Model.TipoMantenimiento == TipoMantenimiento.RevisionFactura;
}

<h2>@ViewBag.Title</h2>

<div class="pedidoMain">
    @if (Model.TipoMantenimiento == TipoMantenimiento.Creación && Model.Item.Estado == EstadoPedido.Ingresado)
    {
        @GenericHelper.BusquedaClientes();
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, Mensajes.MEN_GRABAR_PEDIDO, new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Item.ID)
            @GenericHelper.ClienteIDTextBox(Model.Item.ClienteID)

            <div class="form-group">
                <h3>Datos Generales</h3>
                @Html.Partial("_PedidoView")
            </div>

            <!-- Muestras-->
            @if (Model.TipoMantenimiento == TipoMantenimiento.Modificación && Model.Item.Estado == EstadoPedido.Ingresado)
            {
                @Html.Partial("_MuestrasEdit")
            }
            else
            {
                @Html.Partial("_MuestrasView")
            }

            <!-- Análisis -->
            @if (Model.TipoMantenimiento == TipoMantenimiento.Modificación && Model.Item.Estado == EstadoPedido.Muestras)
            {
                @Html.Partial("_AnalisisEdit")
            }
            else
            {
                @Html.Partial("_AnalisisView")
            }

            <!-- Pagos -->
            @if (Model.TipoMantenimiento == TipoMantenimiento.Modificación && Model.Item.Estado == EstadoPedido.Aceptado)
            {
                @Html.Partial("_PagosEdit")
            }
            else if (Model.TipoMantenimiento == TipoMantenimiento.RevisionFactura)
            {
                @Html.Partial("_PagosView")
            }

            <!-- Archivos -->
            @if (Model.Item.Archivos.Any())
            {
                @Html.Partial("_ArchivosView")
            }

            <!-- Botones de Acción -->
            @if (Model.TipoMantenimiento != TipoMantenimiento.Visualización)
            {
                <div class="form-group botonesAccion">
                    <div class="col-md-offset-2 col-md-10">
                        @switch (Model.Item.Estado)
                        {
                            case EstadoPedido.Ingresado:
                                if (User.IsInRole(Constantes.ROL_SECRE))
                                {
                                    <input type="submit" name="Item.Action" class="btn btn-primary confirmar" value="Grabar Muestras" />
                                    <input type="submit" name="Item.Action" class="btn btn-primary confirmar" value="Enviar Muestras" mensajeConfirmacion="¿Confirma que desea enviar las Muestras del Pedido?" />
                                    <input type="submit" name="Item.Action" class="btn btn-primary confirmar" value="Enviar Muestras y Parametrizar" mensajeConfirmacion="¿Confirma que desea enviar las Muestras del Pedido?" />
                                }
                                break;
                            case EstadoPedido.Muestras:
                                if (User.IsInRole(Constantes.ROL_SECRE))
                                {
                                    <input type="submit" name="Item.Action" class="btn btn-default confirmar" value="Reingresar Muestras" mensajeConfirmacion="¿Confirma que desea reingresar las Muestras? Esta acción borrará la parametrización ingresada." />
                                    <input type="submit" name="Item.Action" class="btn btn-primary confirmar" value="Grabar Parametrización" />
                                    <input type="submit" name="Item.Action" class="btn btn-primary confirmar" value="Enviar Parametrización" mensajeConfirmacion="¿Confirma que desea enviar esta Parametrización del Pedido?" />
                                    <input type="submit" name="Item.Action" class="btn btn-primary confirmar" value="Enviar Parametrización y Tiempos" mensajeConfirmacion="¿Confirma que desea enviar esta Parametrización del Pedido?" />
                                }
                                break;
                            case EstadoPedido.Parametrizado:
                                if (User.IsInRole(Constantes.ROL_SECRE))
                                {
                                    <input type="submit" name="Item.Action" class="btn btn-default confirmar" value="Reingresar Parametrización" mensajeConfirmacion="¿Confirma que desea reingresar la Parametrización? Esta acción borrará los tiempos ingresados." />
                                    <input type="submit" name="Item.Action" class="btn btn-primary confirmar" value="Grabar Tiempos" />
                                    <input type="submit" name="Item.Action" class="btn btn-primary confirmar" value="Enviar Tiempos" mensajeConfirmacion="¿Confirma que desea enviar los Tiempos del Pedido?" />
                                }
                                break;
                            case EstadoPedido.Tiempos:
                                if (User.IsInRole(Constantes.ROL_CALID))
                                {
                                    <input type="submit" name="Item.Action" class="btn btn-default confirmar" value="Devolver" id="devolverPedido" mensajeConfirmacion="¿Confirma que desea devolver el pedido a parametrización?" />
                                    <input type="button" name="Item.Action" class="btn btn-primary" value="Revisar y Aprobar Hoja Técnica" id="imprimirHojaTecnica" />
                                    <input type="button" name="Item.Action" class="btn btn-primary" value="Desaprobar" id="abrirControlesDesaprobar" />
                                }
                                break;
                            case EstadoPedido.Aprobado:
                                if (User.IsInRole(Constantes.ROL_GESTI))
                                {
                                    var archivoProforma = Model.Item.Archivos.SingleOrDefault(x => x.Tipo == TipoArchivo.Proforma && x.Subido);
                                    var archivoAceptaci = Model.Item.Archivos.SingleOrDefault(x => x.Tipo == TipoArchivo.AceptacionCliente && x.Subido);

                                    <input type="button" value="Imprimir Proforma" class="btn btn-primary" id="imprimirProforma" name="Item.Action" />
                                    if (archivoProforma != null)
                                    {
                                        <input type="button" value="Notificar Proforma" class="btn btn-primary" id="enviarProforma" name="Item.Action" data-initialvalue="Notificar Proforma" />
                                    }
                                    if (archivoProforma == null)
                                    {
                                        <input type="button" value="Subir Proforma Firmada" class="btn btn-primary" id="subirProforma" name="Item.Action" data-initialvalue="Subir Proforma Firmada y Notificar" />
                                    }
                                    if (archivoAceptaci == null && archivoProforma != null)
                                    {
                                        <input type="button" value="Subir Aceptación Cliente" class="btn btn-primary" id="subirAceptacion" name="Item.Action" />
                                    }
                                    if (archivoAceptaci != null)
                                    {
                                        <input type="submit" name="Item.Action" value="Enviar a Pago" class="btn btn-primary confirmar" id="aceptarProforma" mensajeConfirmacion="¿Confirma que desea enviar este Pedido a Registro de Pago?" />
                                    }
                                    <input type="submit" name="Item.Action" value="Caducar" class="btn btn-default confirmar" id="caducarProforma" mensajeConfirmacion="¿Confirma que desea caducar esta Proforma?\n(Esto no se puede revertir)" />
                                }
                                break;
                            case EstadoPedido.Aceptado:
                                if (User.IsInRole(Constantes.ROL_FINAN))
                                {
                                    <input type="submit" name="Item.Action" value="Registrar y Notificar Pago" class="btn btn-primary confirmar" id="registrarPago" mensajeConfirmacion="¿Confirma que desea registrar y notificar el pago con estos datos?" />
                                    <input type="submit" name="Item.Action" value="Cerrar por No Pago" class="btn btn-default confirmar" id="caducarProforma" mensajeConfirmacion="¿Confirma que desea caducar esta Proforma por No Pago?\n(Esto no se puede revertir)" formnovalidate />
                                }
                                break;
                            case EstadoPedido.Pagado:
                                if (User.IsInRole(Constantes.ROL_SECRE))
                                {
                                    if (Model.SubmitAction == "RecibirMuestras")
                                    {
                                        if (Model.Item.Archivos.Where(x => x.Tipo == TipoArchivo.InformeResultados).All(x => x.Subido))
                                        {
                                            <input type="submit" name="Item.Action" value="Entregar Resultados y Cerrar Pedido" class="btn btn-primary confirmar" mensajeConfirmacion="¿Confirma que desea dar por Entregado este Pedido y Cerrarlo?" />
                                        }
                                        if (Model.Item.Archivos.Where(x => x.Tipo == TipoArchivo.InformeResultados).Any(x => x.Subido))
                                        {
                                            @*<input type="button" name="Item.Action" value="Notificar Resultados Parciales" class="btn btn-primary" id="notificarResultadosParciales" data-initialvalue="Notificar Resultados Parciales" />*@
                                        }
                                    }
                                }
                                break;
                            case EstadoPedido.Entregado:
                                if (User.IsInRole(Constantes.ROL_GESTI))
                                {
                                    <!-- <input type="button" value="Notificar Resultados" class="btn btn-default" id="notificarResultadosFinales" data-initialvalue="Notificar Resultados" /> -->
                                    if (Model.Item.NumeroCorreosPendientes == 0)
                                    {
                                        <input type="submit" value="Cerrar Pedido" class="btn btn-primary reconfirmar"
                                               mensajeConfirmacion="¿Confirma que desea cerrar este Pedido?"
                                               mensajeReconfirmacion="Atención: Una vez que el pedido ha sido cerrado, no es posible ejecutar ninguna acción sobre él. Este proceso no es reversible.\nPulse OK si desea cerrar el pedido definitivamente." />
                                    }
                                    else
                                    {
                                        <span style="color:red;">No se puede cerrar Pedido, existen Notificaciones por realizar.</span>
                                    }
                                }
                                break;
                        }
                    </div>
                </div>
            }
        </div>
    }
    <div>
        @Html.ActionLink("Regresar a Listado", "Index")
    </div>
</div>

@GenericHelper.ModalBusquedaClientes()

<div class="modal fade" id="SubirArchivo" tabindex="-1" role="dialog" aria-labelledby="SubirArchivoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="SubirArchivoLabel">Subir Archivo</h5>
            </div>
            <div class="modal-body">
                <h4 class="modal-title" id="TipoArchivoLabel"></h4>
                <form id="frmArchivos" enctype="multipart/form-data">
                    <input type="hidden" name="tipoArchivo" id="tipoArchivo" value="" />
                    <input type="hidden" name="IdPedido" value="@Model.Item.ID" />
                    <input type="hidden" name="IdOrdenTrabajo" id="IdOrdenTrabajo" value="" />
                    <input type="hidden" name="IdMuestra" id="IdMuestra" value="" />
                    <input type="hidden" name="NumeroInforme" id="NumeroInforme" value="" />
                    <input type="file" name="file" class="form-control" />
                    <input type="submit" value="Enviar" class="btn btn-primary" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DesaprobarPedido" tabindex="-1" role="dialog" aria-labelledby="SubirArchivoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="SubirArchivoLabel">Comentarios para desaprobación de pedido</h5>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="Item.Id" value="@Model.Item.ID" />
                    <textarea name="Item.Comentario" id="txtComentario" class="form-control" rows="2"></textarea>
                    <input type="submit" name="Item.Action" class="btn btn-primary confirmar" value="Desaprobar" id="desaprobarProforma" />
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@ModalMenuAnalisisHelper.ModalMenuAnalisis(Model.Areas, Model.CatalogoAnalisis)

@ModalMenuAnalisisHelper.ModalMenuAnalisisPlantilla(Model.ListaPlantillas, Model.ListaGrupos)

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script id="vars-script">

        var tipoMantenimiento = '@Html.Raw(Model.TipoMantenimiento)';
        var estadoPedido = '@Html.Raw(Model.Item.Estado)'
        var formaPagoContratoValor = @((int)FormaPago.Contrato);

        var catalogoAnalisis = [];
        @foreach(var analisis in Model.CatalogoAnalisis)
        {
            if (analisis.Division == DivisionCatalogo.Analisis)
            {
                @Html.Raw(String.Format("catalogoAnalisis[{0}] = {1};", analisis.ID, analisis.ObjetoJS));
            }
        }
    </script>

    <script type="text/x-handlebars-template" id="muestra-row-template">
        @PedidoHelper.MuestraRow(Html, new Muestra(), -1, -1)
    </script>

    <script type="text/x-handlebars-template" id="analisisMuestra-row-template">
        @PedidoHelper.AnalisisRow(Html, new AnalisisMuestra { Analisis = new Analisis { GrupoAnalisis = new GrupoAnalisis { Area = new Area() } } }, -1, -1)
    </script>

    <script type="text/x-handlebars-template" id="analisisMuestraElegido-row-template">
        @ModalMenuAnalisisHelper.AnalisisElegidoRow()
    </script>

    <script id="controlesDesaprobar-script">
        $('#abrirControlesDesaprobar').click(function () {
            $('#DesaprobarPedido').modal();
        });
    </script>

    @GenericHelper.ScriptConfirmarSubmit()

    <script id="analisisPlantilla-script">
        $('.addAnalisisxPlantilla').on('click', function () {

            if (!confirm('Si selecciona la opción por Plantilla los análisis asignados se perderán.\n\n¿Desea continuar?'))
                return;

            var muestraID = $(this).attr('data-muestraID');
            var muestraCantidad = $(this).attr('data-muestraCantidad');

            // Vaciar Modal
            $('#tablePlantillas tbody tr .selectPlantilla').removeAttr('checked');

            // Llenar Modal
            $('#MenuAnalisisPlantilla').modal();
            $('#MenuAnalisisPlantilla #modalMuestraID').val(muestraID);
            $('#MenuAnalisisPlantilla #modalMuestraCantidad').val(muestraCantidad);
        });

        $('#MenuAnalisisPlantilla #aplicarPlantillas').click(function () {
            $("#MenuAnalisisPlantilla").modal('hide');
            var muestraID = $('#MenuAnalisisPlantilla #modalMuestraID').val();
            var tableClass = 'muestra' + muestraID;
            var cantidad = $('#MenuAnalisisPlantilla #modalMuestraCantidad').val();

            var jsonpygObj = { Plantillas: [], Grupos: [] };

            $('#tablePlantillas tbody tr .selectPlantilla').each(function (index, y) {
                var $plantillaCheck = $(y);
                if ($plantillaCheck.is(":checked")) {
                    switch ($plantillaCheck.attr('data-tipo')) {
                        case 'Plantilla':
                            jsonpygObj.Plantillas.push($plantillaCheck.attr('data-plantillaID'));
                            break;
                        case 'Grupo':
                            jsonpygObj.Grupos.push($plantillaCheck.attr('data-grupoID'));
                            break;
                        default:
                            break;
                    }
                }
            });

            var url = '@Url.Content("~/Plantillas/Listado")';

            $.ajax({
                type: "POST",
                url: url,
                data: { jsonpyg: JSON.stringify(jsonpygObj) },
                success: function (listaAnalisisID) {
                    // Limpiar tabla
                    $('.AnalisisTable.' + tableClass + ' tbody').html('');

                    if (listaAnalisisID) {
                        listaAnalisisID.forEach(function (atemp, indice) {
                            addAnalisis(muestraID, atemp.analisisid, tableClass, cantidad, atemp.areaNombre, indice + 1);
                        });
                    } else {
                        var mensaje = "Error al ejecutar acción. Consulte con el Administrador."
                        alert(mensaje);
                        console.log(mensaje);
                        console.log("Posible error de permisos para el Controlador de esta acción.");
                    }
                },
                error: function (r) {
                    alert("Error del servidor. Consulte con el Administrador.");
                    console.log(r);
                },
                complete: function(e) {
                    //HabilitarBoton($this, true);
                }
            });
        });
    </script>

    <script id="analisis-script">
        $('.addAnalisis').on('click', function () {

            limpiarFiltroTexto();

            var muestraID = $(this).attr('data-muestraID');
            var muestraTable = $(this).attr('data-muestraTable');
            var muestraCantidad = $(this).attr('data-muestraCantidad');

            // Vaciar Modal
            $('#analisisElegidos tbody ').html('');
            $('.analisisDisponibles tbody .selectAnalisis').removeAttr('disabled').removeAttr('checked');

            // Llenar Modal
            $('#MenuAnalisis').modal();
            $('#MenuAnalisis #modalMuestraID').val(muestraID);
            $('#MenuAnalisis #modalMuestraCantidad').val(muestraCantidad);

            //Simular Presionar Click
            var muestraTable = $(this).attr('data-muestratable');

            $('.AnalisisTable.' + muestraTable + ' tbody tr.analisisTRescogido').each(function (i, x) {
                var analisisID = $(x).find('.analisisIDescogido').val();
                var cantidadAnalisis = $(x).find('.cantidadAnalisis').val();

                $('.analisisDisponibles .trAnalisisDisponible.trAnalisisDisponible_' + analisisID).each(function (i, tr) {
                    $(tr).find('input[type=checkbox]').click();
                });

                $('#analisisElegidos tbody tr.anEl_' + analisisID + ' .tempValor').val(cantidadAnalisis);
            });
        });

        $('#MenuAnalisis #aceptarAnalisis').click(function () {
            $("#MenuAnalisis").modal('hide');
            var muestraID = $('#MenuAnalisis #modalMuestraID').val();
            var tableClass = 'muestra' + muestraID;

            var listaAnalisisID = [];
            $('#analisisElegidos tbody tr .check').each(function (index, y) {

                var tempValor = $(y).find('.tempValor').val();
                if (tempValor == 0)
                    tempValor = $('#MenuAnalisis #modalMuestraCantidad').val();

                listaAnalisisID.push({
                    analisisid: $(y).find('input[type=checkbox]').attr('data-analisisid'),
                    cantidad: tempValor,
                    areaNombre: $(y).find('input[type=checkbox]').attr('data-areanombre')
                });
            });

            listaAnalisisID.sort(function (a, b) { return a.analisisid - b.analisisid; });

            // Limpiar tabla
            $('.AnalisisTable.' + tableClass + ' tbody').html('');

            listaAnalisisID.forEach(function (atemp, indice) {
                addAnalisis(muestraID, atemp.analisisid, tableClass, atemp.cantidad, atemp.areaNombre, indice + 1);
            });

        });

        $('.analisisDisponibles .selectAnalisis').click(function () {
            addAnalisisElegido($(this).attr('data-analisisID'));
            $(this).attr('disabled', 'disabled');
        });

        var eliminarElegido = function () {
            var analisisID = $(this).attr('data-analisisID');
            $('.analisisDisponibles tr.trAnalisisDisponible_' + analisisID + ' .selectAnalisis').removeAttr('disabled').removeAttr('checked');
            $(this).parent().parent().remove();
        }

        $('#analisisElegidos .selectAnalisis').click(eliminarElegido);

        function addAnalisis(muestraID, analisisID, tableClass, cantidad, areaNombre, index) {

            var ticks = Math.floor(Math.random() * (2147483640 - 21474800 + 1)) + 21474800;
            var template = $($.trim($("#analisisMuestra-row-template").html().replace(/\[-1\]/g, '[' + ticks + ']')));

            template.find('[name*="Item.AnalisisMuestras.Index"]').val(ticks);
            template.find('[name*="Item.AnalisisMuestras[' + ticks + '].MuestraID"]').val(muestraID);
            template.find('[name*="Item.AnalisisMuestras[' + ticks + '].AnalisisID"]').val(analisisID);
            template.find('[name*="Item.AnalisisMuestras[' + ticks + '].Cantidad"]').val(cantidad);
            template.find('[name*="Item.AnalisisMuestras[' + ticks + '].AreaNombre"]').html(areaNombre);
            template.find('.analisisNombre').html(catalogoAnalisis[analisisID].nombre);
            template.find('span.indiceAnalisisMuestra').html(index);

            $('.AnalisisTable.' + tableClass + ' tbody').append(template);
        }

        function addAnalisisElegido(analisisID) {
            var ticks = Math.floor(Math.random() * (2147483640 - 21474800 + 1)) + 21474800;
            var template = $($.trim($("#analisisMuestraElegido-row-template").html().replace(/\[-1\]/g, '[' + ticks + ']')));
            var analisis = catalogoAnalisis[analisisID];

            template.find('.check input[type=checkbox]').attr('data-analisisid', analisisID).click(eliminarElegido);
            template.find('.check input[type=checkbox]').attr('data-areanombre', analisis.area).click(eliminarElegido);
            template.find('.nombre').html(analisis.nombre);
            template.find('.grupo').html(analisis.grupo);
            template.find('.area').html(analisis.area);
            template.addClass('anEl_' + analisisID);

            $('#analisisElegidos tbody').append(template);
        }

        $('.analisisTRescogido .delete').click(function () {
            $(this).closest('tr').remove();
        });
    </script>

    <script id="addMuestra-script">
        $(function () {
            $('#addMuestra').on('click', function () {
                addMuestra();
            });

            $('#MuestrasTable').on('click', '.delete', function () {
                $(this).closest('tr').remove();
            })

            $('#AnalisisTable').on('click', '.delete', function () {
                $(this).closest('tr').remove();
            })
        })

        function addMuestra() {
            var ticks = Math.floor(Math.random() * (2147483640 - 21474800 + 1)) + 21474800;
            var template = $($.trim($("#muestra-row-template").html().replace(/\[-1\]/g, '[' + ticks + ']')));

            template.find('[name*="Item.Muestras.Index"]').val(ticks);
            template.find('td.indiceMuestra').html($('#MuestrasTable tbody tr').length + 1);

            $('#MuestrasTable tbody').append(template);
        }
    </script>

    @GenericHelper.ScriptBusquedaClientes(Url.Action("Search", "Clientes"), Url.Action("Create", "Clientes"), null, "control-formulario")

    <script id="impresion-script">
        $('#imprimirHojaTecnica').click(function () {
            location.href = '@Url.Action("Imprimir", "Impresiones", new { id = Model.Item.ID, reportePedido = ReportePedido.HojaTecnica })';
        });

        $('#imprimirProforma').click(function () {
            window.open('@Url.Action("Imprimir", "Impresiones", new { id = Model.Item.ID, reportePedido = ReportePedido.Proforma })', '_blank');
        });

        $('.imprimirRecepcion').click(function () {
            var IdMuestra = $(this).attr('data-IdMuestra');
            var url = '@Url.Action("Imprimir", "Impresiones", new { id = Model.Item.ID, muestraID = "00", reportePedido = ReportePedido.RecepcionMuestra })';
            window.open(url.replace("00&amp;", IdMuestra + '&'), '_blank');
        });

        $('.imprimirOrdenTrabajo').click(function () {
            var IdOrdenTrabajo = $(this).attr('data-IdOrdenTrabajo');
            var url = '@Url.Action("Imprimir", "Impresiones", new { id = Model.Item.ID, ordenTrabajoID = "00", reportePedido = ReportePedido.OrdenTrabajo })';
            window.open(url.replace("00&amp;", IdOrdenTrabajo + '&'), '_blank');
        });

        $('.imprimirPlantilla').click(function () {
            var IdOrdenTrabajo = $(this).attr('data-IdOrdenTrabajo');
            var url = '@Url.Action("Imprimir", "Impresiones", new { id = Model.Item.ID, ordenTrabajoID = "00", reportePedido = ReportePedido.Plantilla })';
            window.open(url.replace("00&amp;", IdOrdenTrabajo + '&'), '_blank');
        });
    </script>

    <script id="script-envio-correos">
        $('#enviarProforma').click(function () {
            EnviarNotificacion($(this), '@Url.Content("~/Correos/Proforma")', '@Html.Raw(Mensajes.MEN_ENVIAR_NOTIF_PROFORMA)', 0);
        });

        $('#notificarPago').click(function () {
            EnviarNotificacion($(this), '@Url.Content("~/Correos/RecepcionPago")', '@Html.Raw(Mensajes.MEN_ENVIAR_NOTIF_PAGO)', 0);
        });

        $('.notificarResultadosInforme').click(function () {
            var idArchivo = $(this).attr('data-IdArchivo');
            var tipoArchivo = $(this).attr('data-tipoArchivo');

            var mensaje = '';
            switch (tipoArchivo) {
                case '@TipoArchivo.InformeResultados':
                    mensaje = '@Html.Raw(Mensajes.MEN_ENVIAR_NOTIF_RESUL)';
                    break;
                case '@TipoArchivo.InformeSuplementario':
                    mensaje = '@Html.Raw(Mensajes.MEN_ENVIAR_NOTIF_RESUL_SUPL)';
                    break;
            }

            EnviarNotificacion($(this), '@Url.Content("~/Correos/ResultadosInforme")', mensaje, idArchivo);
        });


        function EnviarNotificacion($this, url, mensaje, idArchivo) {
            HabilitarBoton($this, false);
            $.ajax({
                type: "POST",
                url: url,
                data: { id: @Model.Item.ID, idArchivo: idArchivo },
                success: function (data) {
                    if (data['status'] == '@SendMailResult.Enviado') {
                        alert(mensaje);
                        if (idArchivo > 0)
                            location.reload();
                    } else {
                        alert("Hubo un inconveniente al enviar la información.\nConsulte con el Administrador.\nCódigo de Salida: " + data['status']);
                    }
                },
                error: function (r) {
                    alert("Error del servidor");
                    console.log(r);
                },
                complete: function(e) {
                    HabilitarBoton($this, true);
                }
            });
        }

        function HabilitarBoton($boton, habilitar) {
            if (!habilitar) {
                $boton.attr("disabled", "disabled").val("Enviando...")
            } else {
                $boton.removeAttr("disabled").val($boton.attr("data-initialvalue"));
            }
        }
    </script>

    <script id="pedirSuplementario">
        $('.pedirSuplementario').click(function () {
            var $this = $(this);
            var IdArchivo = $this.attr('data-IdArchivo');
            HabilitarBoton($this, false);
            $.ajax({
                type: "POST",
                url: '@Url.Content("~/Archivos/PedirSuplementario")',
                data: { idArchivo: IdArchivo },
                success: function (data) {
                    if (data['status'] == '0') {
                        alert('@Html.Raw(Mensajes.MEN_PEDIR_SUPLEMENTARIO)');
                    } else {
                        alert("Hubo un inconveniente al enviar la información.\nConsulte con el Administrador.\nCódigo de Salida: " + data['status']);
                    }
                },
                error: function (r) {
                    alert("Error del servidor");
                    console.log(r);
                },
                complete: function (e) {
                    HabilitarBoton($this, true);
                }
            });
        });
    </script>

    <script id="script-carga-archivos">
        $('#subirProforma').click(function () {
            $('#SubirArchivo #TipoArchivoLabel').html('@TipoArchivo.Proforma.ToDisplayName()');
            $('#SubirArchivo #tipoArchivo').val('@TipoArchivo.Proforma');
            $('#SubirArchivo').modal();
        });

        $('#subirAceptacion').click(function () {
            $('#SubirArchivo #TipoArchivoLabel').html('@TipoArchivo.AceptacionCliente.ToDisplayName()');
            $('#SubirArchivo #tipoArchivo').val('@TipoArchivo.AceptacionCliente');
            $('#SubirArchivo').modal();
        });

        $('.subirResultados').click(function () {
            var IdOrdenTrabajo = $(this).attr('data-IdOrdenTrabajo');
            var IdMuestra = $(this).attr('data-IdMuestra');
            var NumeroInforme = $(this).attr('data-numeroInforme');
            var TipoArchivo = $(this).attr('data-tipoArchivo');
            var TipoArchivoLabel = '';
            switch (TipoArchivo) {
                case '@TipoArchivo.InformeResultados':
                    TipoArchivoLabel = '@TipoArchivo.InformeResultados.ToDisplayName()';
                    break;
                case '@TipoArchivo.InformeSuplementario':
                    TipoArchivoLabel = '@TipoArchivo.InformeSuplementario.ToDisplayName()';
                    break;
            }
            $('#SubirArchivo #TipoArchivoLabel').html(TipoArchivoLabel + ' No. ' + NumeroInforme);
            $('#SubirArchivo #tipoArchivo').val(TipoArchivo);
            $('#SubirArchivo #IdOrdenTrabajo').val(IdOrdenTrabajo);
            $('#SubirArchivo #IdMuestra').val(IdMuestra);
            $('#SubirArchivo #NumeroInforme').val(NumeroInforme);
            $('#SubirArchivo').modal();
        });

        $('.subirOrdenTrabajo').click(function () {
            var IdOrdenTrabajo = $(this).attr('data-IdOrdenTrabajo');
            $('#SubirArchivo #TipoArchivoLabel').html('@TipoArchivo.OrdenTrabajo.ToDisplayName()');
            $('#SubirArchivo #tipoArchivo').val('@TipoArchivo.OrdenTrabajo');
            $('#SubirArchivo #IdOrdenTrabajo').val(IdOrdenTrabajo);
            $('#SubirArchivo').modal();
        });

        $('.subirRecepcion').click(function () {
            var IdMuestra = $(this).attr('data-IdMuestra');
            $('#SubirArchivo #TipoArchivoLabel').html('@TipoArchivo.RecepcionMuestra.ToDisplayName()');
            $('#SubirArchivo #tipoArchivo').val('@TipoArchivo.RecepcionMuestra');
            $('#SubirArchivo #IdMuestra').val(IdMuestra);
            $('#SubirArchivo').modal();
        });

        $("#frmArchivos").submit(function (e) {
            e.preventDefault();

            var url = "@Url.Content("~/Archivos/Subir")";

            var parametros = new FormData($(this)[0]);
            var tipoArchivo = parametros.get('tipoArchivo');

            $.ajax({
                type: "POST",
                url: url,
                data: parametros,
                contentType: false, //importante enviar este parametro en false
                processData: false, //importante enviar este parametro en false
                success: function (data) {
                    if (data['status'] == '0') {
                        alert("Archivo Subido");
                        if (tipoArchivo == '@TipoArchivo.Proforma') {
                            //EnviarNotificacion($('#subirProforma'), '@Url.Content("~/Correos/Proforma")', '@Html.Raw(Mensajes.MEN_ENVIAR_NOTIF_PROFORMA)', 0);
                        }
                        location.reload();
                    } else {
                        alert("Hubo un inconveniente al subir el archivo.\nConsulte con el Administrador.\nCódigo de Error:" + data['status']);
                    }
                    $("#SubirArchivo").modal('hide');
                },
                error: function (r) {
                    alert("Error del servidor");
                    $("#SubirArchivo").modal('hide');
                }
            });

        })
    </script>

    <script id="script-formapago">
        /* Seteos Iniciales */
        $('#Item_FormaPago option[value=0]').attr('value', '');

        ToogleFormaPagoTextSelect($('#Item_FormaPago').val() != formaPagoContratoValor);
        $('#Item_FormaPago').change(function () {
            ToogleFormaPagoTextSelect($('#Item_FormaPago').val() != formaPagoContratoValor);
        });

        function ToogleFormaPagoTextSelect(esFormaPagoNormal) {
            if (esFormaPagoNormal) {
                $('.InformacionPagoText').show();
                $('.InformacionPagoSelect').hide();
                $('.DocumentoRecaudacionSelect').show();
                $('#Item_DocumentoRecaudacion option[value=0]').attr('value', '');
            } else {
                $('.InformacionPagoSelect').show();
                $('.InformacionPagoText').hide();
                $('.DocumentoRecaudacionSelect').hide();
                $('#Item_DocumentoRecaudacion option[value=""]').attr('value', '0');
            }
        }
    </script>

    @ModalMenuAnalisisHelper.ScriptFiltroAnalisis()

    <script id="script-apoyoClienteSinCorreo">
        function añadirEnlaceAMensajeError() {
            if ($('.divCorreoCliente span.field-validation-error.link').length > 0) {
                $('.divCorreoCliente span.field-validation-error.link')
                    .html(  $('.divCorreoCliente span.field-validation-error.link')
                            .html()
                            .replace('#linkCliente', '<a href="' + '@Url.Action("Edit", "Clientes", new { id = Model.Item.ClienteID })' + '">Modificar Cliente</a>')
                         );
            }
        }

        $(function () {
            añadirEnlaceAMensajeError()
        });
    </script>

    @GenericHelper.IconosEscondidos()

    <script id="ayudaPagos">
        var mostrarCondensado = @(mostrarCondensado.ToString().ToLower());
        $(document).ready(function () {
            if (mostrarCondensado) {
                $('#cond-tab').click();
            }
        });
    </script>
}
