﻿@model PedidoListViewModel
@{
    ViewBag.Title = "Listado de Pedidos con Facturas Pendientes";
    var grupos = Model.Item.GroupBy(x => x.Estado).Select(g => new { Estado = g.First().Estado, Items = g }).OrderBy(x => x.Estado).ToList();
}

<h2>@ViewBag.Title</h2>

<br />
<table class="table">
    @foreach (var grupo in grupos)
    {
        <tr class="celdaCabecera @grupo.Estado">
            <td colspan="7">
                <b>Estado: <u>@((int)grupo.Estado) - @grupo.Estado.ToDisplayName() </u></b>
            </td>
        </tr>
        <tr class="celdaCabecera @grupo.Estado">
            <th></th>
            <th>Proforma / Pedido</th>
            <th>Cliente / Empresa</th>
            <th colspan="2" style="text-align:right;">Valor</th>
            <th>Fecha @grupo.Estado.ToDisplayName()</th>
            <th></th>
        </tr>

        foreach (var item in grupo.Items.OrderByDescending(x => x.FechaEstado.Fecha))
        {
            <tr class="celda @grupo.Estado">
                <th class="filaIconos">
                    <div class="iconos escondidos">
                        @if (User.IsInRole(Constantes.ROL_GESTI))
                        {
                            @Html.ActionLink(" ", "Duplicar", new { id = item.ID }, new { @class = "fa-solid fa-copy", title = "Duplicar" })
                        }
                    </div>
                </th>
                <th>@item.NumeroProforma / @item.NumeroPedido</th>
                <td>@Html.DisplayFor(modelItem => item.Cliente.NombreReferencial)</td>
                <th colspan="2" style="text-align:right;">@item.CostoTotalConIVA.ToString("c")</th>
                <td>@item.FechaEstado.Fecha.ToEcuadorDate().ToString("dd/MM/yyyy")</td>
                <td>@Html.ActionLink("Revisar", "RevisarFactura", new { id = item.ID })</td>
            </tr>
        }
    }
</table>

@section scripts {
    @*@GenericHelper.IconosEscondidos()*@
}

