﻿@using Verdezul.SYSOSP.Web.Areas.Admin.Controllers
@model PedidoListViewModel

@{
    ViewBag.Title = "Listado de Pedidos";
    var grupos = Model.Item.GroupBy(x => x.Estado).Select(g => new { Estado = g.First().Estado, Items = g }).OrderBy(x => x.Estado).ToList();

    string fecha1 = "";
    string fecha2 = "";

    if (Model.TipoFiltro == TipoFiltro.Fechas)
    {
        var fechas = Model.InformacionFiltro.Split('_');
        fecha1 = fechas[0];
        fecha2 = fechas[1];
    }
}

<h2>@ViewBag.Title</h2>

<div class="form-check">
    <input class="form-check-input" type="radio" name="TipoFiltro" value="@TipoFiltro.Asignados" id="@String.Format("radio{0}", TipoFiltro.Asignados)" />
    <label class="form-check-label" for="@String.Format("radio{0}", TipoFiltro.Asignados)">Asignados a mis Roles</label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="TipoFiltro" value="@TipoFiltro.Texto" id="@String.Format("radio{0}", TipoFiltro.Texto)" />
    <label class="form-check-label" for="@String.Format("radio{0}", TipoFiltro.Texto)">Filtro</label>
    <input class="form-control text-box single-line" id="universal" name="universal" type="text" value="@(Model.TipoFiltro == TipoFiltro.Texto ? Model.InformacionFiltro : "")" placeholder="Proforma, Pedido, Identificación, Cliente">
    <button id="filtrarPedidosTexto" type="button" class="btn btn-primary">Filtrar Pedidos</button>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="TipoFiltro" value="@TipoFiltro.Fechas" id="@String.Format("radio{0}", TipoFiltro.Fechas)" />
    <label class="form-check-label" for="@String.Format("radio{0}", TipoFiltro.Fechas)">Fecha de Ingreso</label>
    <input class="fechaJQ form-control text-box single-line" id="fecha1" name="fecha" type="text" value="@fecha1" autocomplete="off" placeholder="Inicial">
    <input class="fechaJQ form-control text-box single-line" id="fecha2" name="fecha" type="text" value="@fecha2" autocomplete="off" placeholder="Final">
    <button id="filtrarPedidosFechas" type="button" class="btn btn-primary">Filtrar Fechas</button>
</div>
<div class="form-check">
    @foreach (Enumerado estado in Enumerado.GetEnumerado<EstadoPedido>(false))
    {
        if (estado.Valor != EstadoPedido.Cerrado.ToString())
        {
            <input type="checkbox" id="Estado_@estado.Valor" class="FiltroEstado" data-estado="@estado.Valor" checked />
            <label for="Estado_@estado.Valor">@estado.Texto</label>
        }
    }
    <input type="checkbox" id="Estado_Invertir" checked />
    <label for="Estado_Invertir">Invertir</label>
</div>
<hr />
@if (Model.PuedeCrearPedido)
{
    <p>
        @Html.ActionLink("Crear Nuevo Pedido", "Create", null, new { @class = "btn btn-primary" })
    </p>
}

@if (User.IsInRole(Constantes.ROL_AREAS) && Model.AreasxUsuario.Any())
{
    <h4>Áreas asignadas a Usuario Bioquímico</h4>
    <ul>
        @foreach (var a in Model.AreasxUsuario)
        {
            <li>@a.Nombre</li>
        }
    </ul>
    <hr />
}
<table class="table">
    @foreach (var grupo in grupos)
    {
        <tr class="celdaCabecera @grupo.Estado">
            <td colspan="7">
                <b>Estado: <u>@((int)grupo.Estado) - @grupo.Estado.ToDisplayName() </u></b>
            </td>
        </tr>
        <tr class="celdaCabecera @grupo.Estado">
            <th></th>
            <th>Proforma / Pedido</th>
            <th>Cliente / Empresa</th>
            @switch (grupo.Estado)
            {
                case EstadoPedido.Aceptado:
                    <th colspan="2" style="text-align:right;">Valor</th>
                    break;
                default:
                    <th>Muestras</th>
                    <th>Análisis</th>
                    break;
            }
            <th>Fecha @grupo.Estado.ToDisplayName()</th>
            <th></th>
        </tr>

        foreach (var item in grupo.Items.OrderByDescending(x => x.FechaEstado.Fecha))
        {
            <tr class="celda @grupo.Estado">
                <th class="filaIconos">
                    <div class="iconos escondidos">
                        @if (User.IsInRole(Constantes.ROL_GESTI))
                        {
                            @Html.ActionLink(" ", "Duplicar", new { id = item.ID }, new { @class = "fa-solid fa-copy", title = "Duplicar" })
                        }
                    </div>
                </th>
                <th class="numeroProforma">@item.NumeroProforma / @item.NumeroPedido</th>
                <td>@Html.DisplayFor(modelItem => item.Cliente.NombreReferencial)</td>
                @switch (grupo.Estado)
                {
                    case EstadoPedido.Aceptado:
                        <th colspan="2" style="text-align:right;">@item.CostoTotalConIVA.ToString("c")</th>
                        break;
                    default:
                        <td>@item.Muestras.Count</td>
                        <td>@item.Muestras.Select(x => x.AnalisisMuestras.Count).Sum()</td>
                        break;
                }
                <td>@item.FechaEstado.Fecha.ToEcuadorDate().ToString("dd/MM/yyyy")</td>
                <td class="accionesPedido">
                    @if (Model.TipoMantenimiento == TipoMantenimiento.ListadoAsignados)
                    {
                        switch (item.Estado)
                        {
                            case EstadoPedido.Ingresado:
                                @Html.ActionLink("Agregar Muestras", "AddMuestras", new { id = item.ID })
                                break;
                            case EstadoPedido.Muestras:
                                @Html.ActionLink("Parametrizar", "AddParametros", new { id = item.ID })
                                break;
                            case EstadoPedido.Parametrizado:
                                @Html.ActionLink("Asignar Tiempos", "EditarTiempos", new { id = item.ID })
                                break;
                            case EstadoPedido.Tiempos:
                                @Html.ActionLink("Aprobar/Desaprobar", "Aprobar", new { id = item.ID })
                                break;
                            case EstadoPedido.Aprobado:
                                @Html.ActionLink("Aceptar", "Aceptar", new { id = item.ID })
                                break;
                            case EstadoPedido.Aceptado:
                                @Html.ActionLink("Pagar", "GenerarPago", new { id = item.ID })
                                break;
                            case EstadoPedido.Pagado:
                                if (User.IsInRole(Constantes.ROL_GESTI))
                                {
                                    string textoAccion = (item.Archivos.Where(x => x.Tipo == TipoArchivo.OrdenTrabajo).All(z => z.Subido)) ? "Revisar OT's" : "Generar OT's";
                                    @Html.ActionLink(textoAccion, "GeneracionOrdenes", new { id = item.ID }, null)
                                }
                                if (User.IsInRole(Constantes.ROL_SECRE))
                                {
                                    @Html.ActionLink("Recibir Muestras", "RecibirMuestras", new { id = item.ID }, null)
                                }
                                if (User.IsInRole(Constantes.ROL_AREAS))
                                {
                                    @Html.ActionLink("Subir Resultados", "SubirResultados", new { id = item.ID }, null)
                                }
                                break;
                            case EstadoPedido.Entregado:
                                @Html.ActionLink("Cerrar", "Cerrar", new { id = item.ID })
                                break;
                        }
                    }
                    else
                    {
                        @Html.ActionLink("Ver", "Ver", new { id = item.ID })
                    }
                </td>
            </tr>
        }
    }
</table>

@section scripts {

    @GenericHelper.ScriptMensajePostBack()

    @if (TempData["MensajePostBack"] != null)
    {
        <script> ShowMensajePostBack(@Html.Raw((TempData["MensajePostBack"] as MensajePostBack).ObjetoJS())); </script>
    }

    <script>
        var tipoFiltro = '@Html.Raw(Model.TipoFiltro)';
        var today = new Date();

        $('#radio' + tipoFiltro).click();

        $('#radio' + '@TipoFiltro.Asignados').click(function () {
            RedirectIndex(1);
        });

        $('#universal').keydown(function (e) {
            $('#radio' + '@TipoFiltro.Texto').click();
            var code = e.keyCode || e.which;
            if (code === 9) {
                e.preventDefault();
                FiltrarPedidosTexto($('#universal').val());
            }
        });

        $('#filtrarPedidosTexto').click(function () {
            FiltrarPedidosTexto($('#universal').val());
        });

        $('#filtrarPedidosFechas').click(function () {
            var fs1 = $('#fecha1').val().split('/');
            var fs2 = $('#fecha2').val().split('/');

            var fn1 = (fs1[2] * 10000) + (fs1[1] * 100) + fs1[0];
            var fn2 = (fs2[2] * 10000) + (fs2[1] * 100) + fs2[0];

            var f1 = $('#fecha1').val().replace('/', '').replace('/', '');
            var f2 = $('#fecha2').val().replace('/', '').replace('/', '');

            if (parseInt(fn2) < parseInt(fn1)) {
                alert("La fecha inicial debe ser menor que la final");
                return;
            }

            RedirectIndex(3, '', f1, f2);
        });


        function FiltrarPedidosTexto(textoBusqueda) {
            if (textoBusqueda.length < 2)
                return;

            RedirectIndex(2, textoBusqueda);
        }

        function RedirectIndex(filtro, texto, fecha1, fecha2) {
            var url = '@Url.Action("Index", new { q = "filtro_texto"} )'
                        .replace('filtro', filtro);
            switch (filtro) {
                case 1:
                    url = url.replace('texto', '').replace('?q=1_', '');
                    break;
                case 2:
                    url = url.replace('texto', texto);
                    break;
                case 3:
                    url = url.replace('texto', fecha1 + '-' + fecha2);
                    break;
                default:
                    url = ''
            }

            if (url != '')
                window.location.href = url;
        }

        $(".fechaJQ").click(function () {
            $('#radio' + '@TipoFiltro.Fechas').click();
        });

        $(".fechaJQ").datepicker({
            dateFormat: "dd/mm/yy",
            maxDate: today.getDate() + "/" + (today.getMonth() + 1) + "/" + today.getFullYear(),
            minDate: "01/01/2021"
        })
    </script>

    <script>
        $('.FiltroEstado').click(function () {
            var estado = $(this).attr('data-estado');
            $('.celda.' + estado).fadeToggle();
            $('.celdaCabecera.' + estado).fadeToggle();
        });

        $('#Estado_Invertir').click(function () {
            $('.celda').fadeToggle();
            $('.celdaCabecera').fadeToggle();
            $('.FiltroEstado').each(function (index, filtro) {
                if ($(filtro).is(':checked')) {
                    $(filtro).removeAttr('checked');
                } else {
                    $(filtro).prop('checked', true)
                }
            });
        });
    </script>

    @GenericHelper.IconosEscondidos()
}

