﻿@model PedidoListViewModel
@{
    ViewBag.Title = "Notificaciones Pendientes de Pedidos";
    var grupos = Model.Item.GroupBy(x => x.Estado).Select(g => new { Estado = g.First().Estado, Items = g }).OrderBy(x => x.Estado).ToList();
}

<h2>@ViewBag.Title</h2>

<br />
<table class="table">
    @foreach (var grupo in grupos)
    {
        <tr class="celdaCabecera @grupo.Estado">
            <td colspan="7">
                <b>Estado: <u>@((int)grupo.Estado) - @grupo.Estado.ToDisplayName() </u></b>
            </td>
        </tr>
        <tr class="celdaCabecera @grupo.Estado">
            <th></th>
            <th>Proforma / Pedido</th>
            <th>Cliente / Empresa</th>
            <th>Fecha @grupo.Estado.ToDisplayName()</th>
            <th></th>
        </tr>

        foreach (var item in grupo.Items.OrderByDescending(x => x.FechaEstado.Fecha))
        {
            <tr class="celda @grupo.Estado">
                <th class="filaIconos">
                    <div class="iconos escondidos">
                        @if (User.IsInRole(Constantes.ROL_GESTI))
                        {
                            @Html.ActionLink(" ", "Duplicar", new { id = item.ID }, new { @class = "fa-solid fa-copy", title = "Duplicar" })
                        }
                    </div>
                </th>
                <th>@item.NumeroProforma / @item.NumeroPedido</th>
                <td>@Html.DisplayFor(modelItem => item.Cliente.NombreReferencial)</td>
                <td>@item.FechaEstado.Fecha.ToEcuadorDate().ToString("dd/MM/yyyy")</td>
                <td>
                    @if (Model.TipoMantenimiento == TipoMantenimiento.ListadoAsignados)
                    {
                        switch (item.Estado)
                        {
                            case EstadoPedido.Aprobado:
                                if (User.IsInRole(Constantes.ROL_GESTI))
                                {
                                    @Html.ActionLink("Aceptar", "Aceptar", new { id = item.ID })
                                }
                                break;
                            case EstadoPedido.Pagado:
                                if (User.IsInRole(Constantes.ROL_SECRE))
                                {
                                    @Html.ActionLink("Recibir Muestras", "RecibirMuestras", new { id = item.ID }, null)
                                }
                                break;
                            case EstadoPedido.Entregado:
                                if (User.IsInRole(Constantes.ROL_GESTI))
                                {
                                    @Html.ActionLink("Cerrar", "Cerrar", new { id = item.ID })
                                }
                                break;
                            default:
                                @Html.ActionLink("Ver", "Ver", new { id = item.ID })
                                break;
                        }
                    }
                </td>
            </tr>
        }
    }
</table>

@section scripts {
    @*@GenericHelper.IconosEscondidos()*@
}

