﻿@model Verdezul.SYSOSP.Web.Areas.Admin.Models.AreaViewModel

@{
    ViewBag.Title = $"{Model.TipoMantenimiento} Área";

    var listaBioquimicos = Model.Bioquimicos.Select(x => new SelectListItem { Text = x.Value, Value = x.Key.ToString() }).ToList();
    listaBioquimicos.Insert(0, new SelectListItem { Text = "(Seleccione Bioquímico)", Value = "" });
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Item.ID)
        <div class="form-group">

            @Html.LabelFor(model => model.Item.Nombre, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item.Nombre, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Item.Bioquimico, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.Item.BioquimicoID, listaBioquimicos, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Item.BioquimicoID, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Item.BioquimicoID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Grabar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a Listado", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
