﻿@model ReporteHojaTecnicaViewModel
@{
    ViewBag.Title = Model.Titulo;
}

<h2>@Model.Titulo</h2>

@Html.ReportViewer(Model.Visor, new { width = "100%" })

@if (Model.Pedido != null && Model.Pedido.Estado == EstadoPedido.Tiempos)
{
    using (Html.BeginForm("Aprobar", "Pedidos", new { area = "Admin", id = Model.Pedido.ID }))
    {
        @Html.AntiForgeryToken()
        <input id="Item_ID" name="Item.ID" type="hidden" value="@Model.Pedido.ID" />
        <div class="botonesAccion">
            <input type="submit" name="Item.Action" class="btn btn-primary confirmar" value="Aprobar" id="aprobarProforma" />
        </div>
    }
    @Html.ActionLink("Regresar a Pedido", "Aprobar", new { id = Model.Pedido.ID })
}

@section Scripts {
    @GenericHelper.ScriptConfirmarSubmit()
}
