﻿@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>
<h3>Facultad de Ciencias Químicas</h3>
<h4>Laboratorio OSP</h4>
<address>
    Francisco Viteri S/N y Gilberto Gatto Sobral<br />
    <a href="https://goo.gl/maps/hCEdLE697Jwz9QzS8" target="_blank">https://goo.gl/maps/hCEdLE697Jwz9QzS8</a><br />
    3216740 / 2500409 / 2502262
</address>

<address>
    <strong>Información:</strong>   <a href="mailto:Support@example.com">fcq.osp@uce.edu.ec</a><br />
</address>