﻿@{
    var DateTimeUtc = DateTime.UtcNow;

    var DateTimeEcu = DateTimeUtc.ToEcuadorDate();

    var DateTimeSrv = DateTimeUtc.ToLocalTime();

    var siteName = System.Web.Hosting.HostingEnvironment.SiteName;

}
<h1>UTC</h1>
@DateTimeUtc

<h1>Ecuador</h1>
@DateTimeEcu

<h1>Server</h1>
@DateTimeSrv

<h1>SiteName</h1>
@siteName