﻿@{
    var serverEnvironment = Verdezul.SYSOSP.Web.Environment.Server.GetServerEnvironment();
    var ambienteTitulo = (serverEnvironment != Verdezul.SYSOSP.Web.Environment.ServerEnvironment.Produccion ? serverEnvironment.ToString() : "");
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>SYSOSP <span class="@ambienteTitulo">@ambienteTitulo</span></h1>
    <p class="lead">Sistema de Manejo de Análisis de Muestras.</p>
    <p class="lead">Facultad de Química de la Universidad Central del Ecuador.</p>
    <p><a href="/Admin/Account/Login" class="btn btn-primary btn-lg">Ingresar al Sistema &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Información y Contacto</h2>
        <p>
            Para solicitar información de cómo realizar el análisis de sus muestras
            ingrese a nuestra sección de contacto e información
        </p>
        <p><a class="btn btn-default" href="/Home/Contact">Ir &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>¿Olvidó su contraseña?</h2>
        <p>No se preocupe, ingrese a este enlace para recuperarla</p>
        <p><a class="btn btn-default" href="/Admin/Account/ForgotPassword">Reseteo Contraseña &raquo;</a></p>
    </div>
    @*
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    *@
</div>