﻿@{
    var serverEnvironment = Verdezul.SYSOSP.Web.Environment.Server.GetServerEnvironment();
    var ambienteTitulo = (serverEnvironment != Verdezul.SYSOSP.Web.Environment.ServerEnvironment.Produccion ? serverEnvironment.ToString() : "");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SYSOSP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/9457d00a72.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Admin/Pedidos">SYSOSP <span class="@ambienteTitulo">@ambienteTitulo</span></a>
            </div>
            <div class="navbar-collapse collapse">
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">General<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown">@Html.ActionLink("Administración de Pedidos ", "Index", "Pedidos")</li>
                                @if (CanSee(Constantes.ROL_GESTI, Constantes.ROL_ADMIN)) { <li class="dropdown">@Html.ActionLink("Clientes", "Index", "Clientes")</li> }
                                <li class="dropdown">@Html.ActionLink("Pedidos Cerrados", "Cerrados", "Pedidos")</li>
                                @if (CanSee(Constantes.ROL_GESTI, Constantes.ROL_SECRE)) { <li class="dropdown">@Html.ActionLink("Notificaciones Pendientes", "NotificacionesPendientes", "Pedidos")</li> }
                                @if (CanSee(Constantes.ROL_GESTI, Constantes.ROL_FINAN)) { <li class="dropdown">@Html.ActionLink("Facturas Pendientes", "FacturasPendientes", "Pedidos")</li> }
                                @*@if (CanSee(Constantes.ROL_FINAN)) { <li class="dropdown">@Html.ActionLink("Pagos de Contratos", "Index", "PagoContratos")</li> }*@
                                @*<li class="dropdown">@Html.ActionLink("Caducación de Pedidos", "CaducarMasivo", "Pedidos")</li>*@
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown">@Html.ActionLink("Listado de Proformas", "ListadoProformas", "Reportes")</li>
                                <li class="dropdown">@Html.ActionLink("Listado de Recepciones de Muestras", "ListadoRecepcionMuestras", "Reportes")</li>
                                <li class="dropdown">@Html.ActionLink("Listado de Pagos", "ListadoPagos", "Reportes")</li>
                                <li class="dropdown">@Html.ActionLink("Listado de Análisis", "ListadoAnalisis", "Reportes")</li>

                                <li class="dropdown">@Html.ActionLink(ReporteProforma.ProformasIngresadas.ToDisplayName(), "ProformasIngresadas", "ReportesProformas")</li>
                                <li class="dropdown">@Html.ActionLink(ReporteProforma.ProformasAprobadas.ToDisplayName(), "ProformasAprobadas", "ReportesProformas")</li>
                                <li class="dropdown">@Html.ActionLink("Proformas Pagadas", "ProformasPagadas", "ReportesProformas")</li>
                                <li class="dropdown">@Html.ActionLink("Proformas Cerradas", "ProformasCerradas", "ReportesProformas")</li>
                                <li class="dropdown">@Html.ActionLink(ReporteProforma.SeguimientoInformes.ToDisplayName(), "SeguimientoInformes", "ReportesProformas")</li>
                            </ul>
                        </li>
                        @if (CanSee(Constantes.ROL_GESTI, Constantes.ROL_SECRE))
                        {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuración<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                @if (CanSee(Constantes.ROL_GESTI)) { <li class="dropdown">@Html.ActionLink("Catalogo de Análisis", "Index", "CatalogosAnalisis")</li> }
                                @if (CanSee(Constantes.ROL_GESTI)) { <li class="dropdown">@Html.ActionLink("Grupos de Análisis", "Index", "GruposAnalisis")</li> }
                                @if (CanSee(Constantes.ROL_GESTI)) { <li class="dropdown">@Html.ActionLink("Áreas", "Index", "Areas")</li> }
                                @if (CanSee(Constantes.ROL_GESTI)) { <li class="dropdown">@Html.ActionLink("Bioquímicos", "Index", "Bioquimicos")</li> }
                                @if (CanSee(Constantes.ROL_SECRE)) { <li class="dropdown">@Html.ActionLink("Plantillas", "Index", "Plantillas")</li> }
                                @if (CanSee(Constantes.ROL_GESTI)) { <li class="dropdown">@Html.ActionLink("Parámetros", "Index", "Parametros")</li> }
                            </ul>
                        </li>
                        }
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administración<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                @if (CanSee(Constantes.ROL_ADMIN)) { <li class="dropdown">@Html.ActionLink("Usuarios", "Index", "Users")</li> }
                                <li class="dropdown">@Html.ActionLink("Cambio de Contraseña", "ForgotPassword", "Account")</li>
                                <li class="dropdown"><a target="_blank" href="~/Files/ManualDelUsuarioSYSOSPWeb.pdf">Manual del Usuario</a></li>
                            </ul>
                        </li>
                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p>
                &copy; @DateTime.UtcNow.Year - Verdezul Apps | 
                @Verdezul.SYSOSP.Web.Environment.Server.GetServerEnvironment() | 
                <i>@(String.Join(" / ", Constantes.ROLLIST.Where(x => User.IsInRole(x))).Replace("_", " "))</i>
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
@functions {
    public bool CanSee(params string[] roles)
    {
        foreach (var item in roles)
        {
            if (User.IsInRole(item))
                return true;
        }

        return false;
    }
}