﻿@model PedidoViewModel

<dl class="dl-horizontal celda">
    <dt>Número</dt>
    <dd>
        @Html.DisplayFor(model => model.Item.NombreOficial)
    </dd>

    <dt>@Html.DisplayNameFor(model => model.Item.Cliente)</dt>
    <dd>@Html.DisplayFor(model => model.Item.Cliente.NombreReferencial)</dd>
    <dt></dt>
    <dd>@Html.DisplayFor(model => model.Item.Cliente.CorreoElectronico)</dd>

    @if (Model.Item.PersonaContacto != null)
    {
        <dt>@Html.DisplayNameFor(model => model.Item.PersonaContacto)</dt>
        <dd>@Html.DisplayFor(model => model.Item.PersonaContacto)</dd>
    }

    @if (Model.Item.InformacionAdicional != null)
    {
        <dt>@Html.DisplayNameFor(model => model.Item.InformacionAdicional)</dt>
        <dd>@Html.DisplayFor(model => model.Item.InformacionAdicional)</dd>
    }

    @foreach (var fecha in Model.Item.Fechas.OrderBy(x => x.Estado))
    {
        <dt>@fecha.EstadoPedidoTexto</dt>
        <dd>@fecha.Fecha.ToEcuadorDate().ToString("dd/MM/yyyy") / @fecha.User</dd>
    }

    @if (Model.Item.Comentario != null && Model.Item.Comentario.Trim() != "")
    {
        <dt>@Html.DisplayNameFor(model => model.Item.Comentario)</dt>
        <dd>@Html.DisplayFor(model => model.Item.Comentario)</dd>
    }
    <dt style="color: transparent;">.</dt>
    <dd>
        <div class="iconos escondidos">
            @if (User.IsInRole(Constantes.ROL_GESTI))
            {
                @Html.ActionLink(" ", "Duplicar", new { id = Model.Item.ID }, new { @class = "fa-solid fa-copy", title = "Duplicar" })
            }
        </div>
    </dd>
</dl>
