﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Cuenta bloqueada";
}

<hgroup>
    <h1 class="text-danger">@ViewBag.Title </h1>
    <h2 class="text-danger">Esta cuenta ha sido bloqueada. Intente más tarde por favor.</h2>
</hgroup>
