﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Verdezul.SYSOSP.Web.Entities
@using Verdezul.SYSOSP.Web.Areas.Admin.Models

@helper SubAnalisisRow(HtmlHelper<AnalisisViewModel> html, SubAnalisis subAnalisis, int index, int orden)
{
    <tr>
        @*<td class="indiceMuestra">@orden</td>*@
        <td>
            <input type="text" name="Item.SubAnalisis[@index].Nombre" value="@subAnalisis.Nombre" class="form-control text-box single-line" maxlength="128" />
            @html.ValidationMessage(String.Format("Item.SubAnalisis[{0}].Nombre", index), new { @class = "text-danger" })
        </td>
        <td>
            <a class="delete"><span class="fa fa-trash"></span>Eliminar</a>
            <input type="hidden" name="Item.SubAnalisis.Index" value="@index" />
            <input type="hidden" name="Item.SubAnalisis[@index].AnalisisID" value="@subAnalisis.AnalisisID" />
            <input type="hidden" class="Item_SubAnalisis_ID" name="Item.SubAnalisis[@index].ID" value="@subAnalisis.ID" />
            <input type="hidden" name="Item.SubAnalisis[@index].Status" value="@subAnalisis.Status" />
        </td>
    </tr>
}

@helper SubAnalisisRowDeleted(HtmlHelper<AnalisisViewModel> html, SubAnalisis subAnalisis, int index)
{
    <div>
        <input type="hidden" name="Item.SubAnalisis.Index" value="@index" />
        <input type="hidden" name="Item.SubAnalisis[@index].Nombre" value="@subAnalisis.Nombre" />
        <input type="hidden" name="Item.SubAnalisis[@index].AnalisisID" value="@subAnalisis.AnalisisID" />
        <input type="hidden" name="Item.SubAnalisis[@index].ID" value="@subAnalisis.ID" />
        <input type="hidden" name="Item.SubAnalisis[@index].Status" value="@EstadoEntidad.Eliminado" />
    </div>
}

@helper FilaAccionesOrdenTrabajo(UrlHelper url, EstadoPedido estadoPedido, Archivo archivoODT, OrdenTrabajo ordenTrabajo, string submitAction)
{
    if (estadoPedido == EstadoPedido.Pagado)
    {
        string acciones = "";

        if (User.IsInRole(Verdezul.SYSOSP.Web.Constantes.ROL_GESTI) && submitAction == "GeneracionOrdenes")
        {
            if (archivoODT == null)
            {
                acciones = "ImprimirOT, SubirOT";
            }
            else
            {
                if (ordenTrabajo.SePuedeEliminar())
                {
                    acciones = "EliminarOT";
                }
            }
        }

        if (User.IsInRole(Verdezul.SYSOSP.Web.Constantes.ROL_AREAS) && submitAction == "SubirResultados" &&
        ordenTrabajo.Area.Bioquimico.UserName == User.Identity.Name)
        {
            acciones = "ImprimirPlantilla";
        }

        if (acciones != "") { 
        <tr>
            <th colspan="8" class="text-right">
                @switch (acciones)
                {
                    case "ImprimirOT, SubirOT":
                        <input type="button" data-IdOrdenTrabajo="@ordenTrabajo.ID" name="Item.Action" value="Imprimir Orden de Trabajo" class="btn btn-primary imprimirOrdenTrabajo" />
                        <input type="button" data-IdOrdenTrabajo="@ordenTrabajo.ID" name="Item.Action" value="Subir Orden de Trabajo" class="btn btn-primary subirOrdenTrabajo" />
                        break;
                    case "EliminarOT":
                        <a href="@url.Action("Eliminar", "Archivos", new { area = "Admin", idArchivo = archivoODT.ID, accion = "GeneracionOrdenes" })" class="confirmar"> Eliminar Orden de Trabajo </a>
                        break;
                    case "ImprimirPlantilla":
                        <input type="button" data-IdOrdenTrabajo="@ordenTrabajo.ID" name="Item.Action" value="Plantilla" class="btn btn-primary imprimirPlantilla" />
                        break;
                }
            </th>
        </tr>
        }
    }
}