﻿@using Verdezul.SYSOSP.Web.Entities

@helper BusquedaClientes()
{
    <input class="form-control text-box single-line" id="universal" name="universal" type="text" placeholder="Identificación o Nombre de Cliente">
    <button id="buscarCliente" type="button" class="btn btn-primary">Buscar Cliente</button>
}

@helper ClienteIDTextBox(int clienteID)
{
    <input data-val="true"
           data-val-required="Cliente es requerido"
           id="Item_ClienteID"
           name="Item.ClienteID"
           type="text"
           style="visibility:hidden"
           value="@(clienteID == 0 ? "" : clienteID.ToString())">
}

@helper ModalBusquedaClientes()
{
    <div class="modal fade" id="BusquedaClientes" tabindex="-1" role="dialog" aria-labelledby="BusquedaClientesLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="BusquedaClientesLabel">Búsqueda de Cliente</h5>
                </div>
                <div class="modal-body">
                    @*<table><tr><th></th></tr></table>*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
}

@helper ScriptBusquedaClientes(string urlActionSearch, string urlActionCreateClientes, string urlActionEditClientes, string accionDevolucion)
{
    @ScriptBusquedaClientes(urlActionSearch, urlActionCreateClientes, urlActionEditClientes, accionDevolucion, null, true);
}

@helper ScriptBusquedaClientes(string urlActionSearch, string urlActionCreateClientes, string urlActionEditClientes, string accionDevolucion, string postbackFunctionVarName, bool permitirCrearNuevo)
{
    <script id="script-busqueda-clientes">

        var accionDevolucion = '@accionDevolucion';

        $('#universal').keydown(function (e) {
            var code = e.keyCode || e.which;
            if (code === 9) {
                e.preventDefault();
                BuscarCliente($('#universal').val());
            }
        });

        $('#buscarCliente').click(function () {
            var postbackFunction = @(postbackFunctionVarName != null ? postbackFunctionVarName : "null");
            var permitirCrearNuevo = @(permitirCrearNuevo.ToString().ToLower());
            BuscarCliente($('#universal').val(), postbackFunction, permitirCrearNuevo);
        });

        var doc;
        function BuscarCliente(textoBusqueda, postbackFunction, permitirCrearNuevo) {
            if (textoBusqueda.length < 3)
                return;

            $.ajax({
                url: '@urlActionSearch',
                type: 'GET',
                data: { q: textoBusqueda },
                contentType: "application/json;charset=utf-8"
            }).done(function (res) {

                var parser = new DOMParser();
                doc = parser.parseFromString(res, "application/xml");

                switch (doc.firstChild.className) {

                    case "tablaResultados":
                        $('#BusquedaClientes .modal-body').html(res);
                        $('#BusquedaClientes').modal();
                        $('.selectCliente').click(function () {
                            var idCliente = $(this).data('id');
                            var nombre = $(this).data('nombre');
                            var correo = $(this).data('correo');

                            if (accionDevolucion == 'control-formulario') {
                                $("#BusquedaClientes").modal('hide');
                                $('#Item_ClienteID').val(idCliente);
                                $('#nombreReferencialCliente').val(nombre);
                                $('#correoElectronicoCliente').val(correo);
                                if (postbackFunction)
                                    postbackFunction();
                            } else if (accionDevolucion == 'edicion-cliente') {
                                location.href = '@urlActionEditClientes'.replace('0', idCliente);
                            }
                        });
                        break;

                    case "resultadoUnico":
                        var idCliente = doc.getElementsByClassName('resultadoUnicoID')[0].innerHTML;
                        var nombre = doc.getElementsByClassName('resultadoUnicoNombre')[0].innerHTML;
                        var correo = doc.getElementsByClassName('resultadoUnicoCorreo')[0].innerHTML;

                        if (accionDevolucion == 'control-formulario') {
                            $('#Item_ClienteID').val(idCliente);
                            $('#nombreReferencialCliente').val(nombre);
                            $('#correoElectronicoCliente').val(correo);
                            if (postbackFunction)
                                postbackFunction();
                        } else if (accionDevolucion == 'edicion-cliente') {
                            location.href = '@urlActionEditClientes'.replace('0', idCliente);
                        }
                        break;

                    default:
                        if (permitirCrearNuevo) {
                            var crearNuevo = confirm("El Cliente no existe, ¿Desea crear uno nuevo?")
                            if (crearNuevo)
                                location.href = '@urlActionCreateClientes';
                        }
                        break;
                }

            }).fail(function (xhr, a, error) {
                console.log(error);
            })
        }
    </script>
}

@helper ScriptConfirmarSubmit()
{
    <script id="script-confirmar-submit">
        $('.confirmar').click(function (evt) {

            var mensajeConfirmacion = $(this).attr("mensajeConfirmacion").replace('\\n', '\n');

            if (!mensajeConfirmacion) {
                mensajeConfirmacion = "¿Desea continuar con la acción seleccionada?";
            }
            if (!confirm(mensajeConfirmacion)) {
                evt.preventDefault();
            }
        });

        $('.reconfirmar').click(function (evt) {

            var mensajeConfirmacion = $(this).attr("mensajeConfirmacion").replace('\\n', '\n');
            var mensajeReconfirmacion = $(this).attr("mensajeReconfirmacion").replace('\\n', '\n');

            if (!mensajeConfirmacion) {
                mensajeConfirmacion = "¿Desea continuar con la acción seleccionada?";
            }
            if (!mensajeReconfirmacion) {
                mensajeReconfirmacion = "¿Está seguro que desea continuar con la acción seleccionada?";
            }

            if (!confirm(mensajeConfirmacion)) {
                evt.preventDefault();
            } else {
                if (!confirm(mensajeReconfirmacion)) {
                    evt.preventDefault();
                }
            }
        });

    </script>
}

@helper IconosEscondidos()
{
    <script>
        $('.celda').hover(
            function () {
                $(this).find('.iconos').removeClass('escondidos');
            },
            function () {
                $(this).find('.iconos').addClass('escondidos');
            }
        );
    </script>
}

@helper ScriptMensajePostBack()
{
    <script>
        function ShowMensajePostBack(mensajePostBack) {
            switch (mensajePostBack.Tipo) {
                case '@MensajePostBack.TipoMensaje.Error':
                    alert(mensajePostBack.Texto + "\nConsulte con el Administrador.\nCódigo de Salida: " + mensajePostBack.CodigoMensaje);
                    break;
                case '@MensajePostBack.TipoMensaje.Informacion':
                    alert(mensajePostBack.Texto);
                    break;
                case '@MensajePostBack.TipoMensaje.Advertencia':
                    break;
                default:
                    break;
            }
        }
    </script>
}
