﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Verdezul.SYSOSP.Web.Entities
@using Verdezul.SYSOSP.Web.Areas.Admin.Models
@using Verdezul.SYSOSP.Web.Helpers

@helper ModalMenuAnalisis(List<Area> areas, List<Catalogo> catalogos)
{
    <div class="modal fade" id="MenuAnalisis" tabindex="-1" role="dialog" aria-labelledby="AnalisisLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <input type="hidden" value="0" id="modalMuestraID" />
                    <input type="hidden" value="102" id="modalMuestraCantidad" />
                    <table class="tableAnalisis">
                        <tr>
                            <td class="tdAnalisis">
                                <select class="form-control" id="selectFiltroAnalisis">
                                    <option value="0">(Todas las áreas)</option>
                                    @foreach (var area in areas)
                                    {
                                        <option value="@area.ID">@area.Nombre</option>
                                    }
                                </select>
                                <input type="text" class="form-control" placeholder="Filtro Análisis" id="textoFiltroAnalisis" />
                                <input type="button" id="eliminarFiltroAnalisis" value="X" class="btn btn-secondary" />
                                <div class="divAnalisis izquierdo">
                                    @TablasCatalogos(catalogos)
                                </div>
                            </td>
                            <td class="tdAnalisis">
                                @*<input type="text" class="form-control" placeholder="Filtro" />*@
                                <div class="divAnalisis derecho">
                                    <table class="table" id="analisisElegidos">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Nombre</th>
                                                <th>Grupo</th>
                                                <th>Área</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @*<tr><td></td><td></td><td></td></tr>*@
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="aceptarAnalisis">Aceptar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
}

@helper AnalisisElegidoRow()
{
    <tr class="">
        <td class="check">
            <input type="checkbox" class="selectAnalisis" data-analisisID="1" data-areanombre="" checked />
            <input type="hidden" class="tempValor" value="0" />
        </td>
        <td class="nombre">@*nombre*@</td>
        <td class="grupo">@*grupo*@</td>
        <td class="area">@*grupo*@</td>
    </tr>
}

@helper TablasCatalogos(List<Catalogo> catalogoAnalisis)
{
    foreach (var catalogo in catalogoAnalisis)
    {
        switch (catalogo.Division)
        {
            case DivisionCatalogo.InicioArea:
                var idArea = String.Format("area_{0}", catalogo.ID);
                <table class="table tableArea" id="@idArea">
                    <tr><th class="catalogoHeader">@catalogo.Nombre</th></tr>
                </table>
                break;
            case DivisionCatalogo.InicioGrupo:
                var idGrupo = String.Format("grupo_{0}", catalogo.ID);
                @SYSOSPHtmlHelper.RawTableBegin(catalogo.IDArea)
                <tr id="@idGrupo">
                    <th colspan="2">@catalogo.Nombre</th>
                </tr>
                break;
            case DivisionCatalogo.Analisis:
                var classTR = String.Format("trAnalisisDisponible_{0}", catalogo.ID);
                <tr class="trAnalisisDisponible trShow @classTR">
                    <td class="tdCheck"><input type="checkbox" class="selectAnalisis" data-analisisID="@catalogo.ID" /></td>
                    <td class="tdNombre" data-areaid="@catalogo.IDArea">@catalogo.Nombre</td>
                </tr>
                break;
            case DivisionCatalogo.FinGrupo:
                @SYSOSPHtmlHelper.RawTableEnd()
                break;
            case DivisionCatalogo.FinArea:
                break;
        }
    }
}

@helper ScriptFiltroAnalisis()
{
    <script id="filtroAnalisis-script">

        $('#selectFiltroAnalisis').change(function () {
            filtrarAnalisis();
        });

        $('#textoFiltroAnalisis').keyup(function (e) {
            filtrarAnalisis();
        });

        $('#eliminarFiltroAnalisis').click(function () {
            limpiarFiltroTexto();
            filtrarAnalisis();
        });

        function filtrarAnalisis() {

            var textoFiltro = $('#textoFiltroAnalisis').val().toLowerCase();
            var areaIdFiltro = $('#selectFiltroAnalisis').val();

            $('.analisisDisponibles tr.trAnalisisDisponible').each(function (index, tr) {

                var $tdNombre = $(tr).find('td.tdNombre')

                var nombre = $tdNombre.html();
                var areaId = $tdNombre.attr("data-areaid");

                /* Verificación de análisis */
                if (nombre.toLowerCase().includes(textoFiltro) && ((areaId == areaIdFiltro) || (areaIdFiltro == 0))) {
                    $(tr).show().addClass('trShow');
                } else {
                    $(tr).hide().removeClass('trShow');
                }

                /* Verificación de grupos */
                $('.analisisDisponibles').each(function (index, table) {
                    var trShowCount = $(table).find('tr.trShow').length;
                    if (trShowCount == 0) {
                        $(table).hide()
                    } else {
                        $(table).show()
                    }
                });

                /* Verificación de áreas */
                $('.tableArea').each(function (index, table) {
                    var areaClass = $(table).attr('id');
                    var areaClassCount = $('.' + areaClass + ':visible').length;
                    if (areaClassCount == 0)
                        $(table).hide();
                    else
                        $(table).show();
                });
            });
        }

        function limpiarFiltroTexto() {
            $('#textoFiltroAnalisis').val('');
            $('.analisisDisponibles tr.trAnalisisDisponible').show();
            $('.analisisDisponibles tr.trAnalisisDisponible').addClass('trShow');
            $('.analisisDisponibles').show();
            $('.tableArea').show();
        }
    </script>
}

@helper ModalMenuAnalisisPlantilla(List<Plantilla> plantillas, List<GrupoAnalisis> grupos)
{
    <div class="modal fade" id="MenuAnalisisPlantilla" tabindex="-1" role="dialog" aria-labelledby="AnalisisLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Listado de Plantillas
                </div>
                <div class="modal-body">
                    <input type="hidden" value="0" id="modalMuestraID" />
                    <input type="hidden" value="102" id="modalMuestraCantidad" />
                    @*<input type="text" class="form-control" placeholder="Filtro Plantilla" id="textoFiltroPlantilla" />
                    <input type="button" id="eliminarFiltroPlantillas" value="X" class="btn btn-secondary" />*@
                    <table id="tablePlantillas" class="table">
                        <tbody>
                            <tr>
                                <th></th>
                                <th>Plantillas Personalizadas</th>
                                <th></th>
                            </tr>
                            @foreach (var plantilla in plantillas)
                            {
                                <tr>
                                    <td><input type="checkbox" class="selectPlantilla" data-tipo="Plantilla" data-plantillaID="@plantilla.ID" /></td>
                                    <td>@plantilla.Nombre</td>
                                    <td>Personalizado</td>
                                </tr>
                            }
                            <tr>
                                <th></th>
                                <th>Grupos de Análisis</th>
                                <th></th>
                            </tr>
                            @foreach (var grupo in grupos)
                            {
                                <tr>
                                    <td><input type="checkbox" class="selectPlantilla" data-tipo="Grupo" data-grupoID="@grupo.ID" /></td>
                                    <td>@grupo.Nombre</td>
                                    <td>@grupo.Area.Nombre</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="aplicarPlantillas">Aplicar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
}