﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Verdezul.SYSOSP.Web.Entities
@using Verdezul.SYSOSP.Web.Areas.Admin.Models

@helper MuestraRow(HtmlHelper<PedidoViewModel> html, Muestra muestra, int index, int orden)
{
    <tr>
        <td class="indiceMuestra">@orden</td>
        <td>
            <textarea name="Item.Muestras[@index].Detalle" class="form-control text-box single-line" maxlength="150">@muestra.Detalle</textarea>
            @html.ValidationMessage(String.Format("Item.Muestras[{0}].Detalle", index), new { @class = "text-danger" })
        </td>
        <td>
            <input type="number" name="Item.Muestras[@index].Cantidad" value="@muestra.Cantidad" class="form-control text-box single-line numero" />
            @html.ValidationMessage(String.Format("Item.Muestras[{0}].Cantidad", index), new { @class = "text-danger" })
        </td>
        <td>
            <textarea name="Item.Muestras[@index].CantidadRequerida" class="form-control text-box single-line" maxlength="150">@muestra.CantidadRequerida</textarea>
        </td>
        <td>
            <textarea name="Item.Muestras[@index].ObservacionInicial" class="form-control text-box single-line" maxlength="150">@muestra.ObservacionInicial</textarea>
        </td>
        <td>
            <a class="delete" title="Eliminar"><span class="fa fa-trash"></span></a>
            <input type="hidden" name="Item.Muestras.Index" value="@index" />
        </td>
    </tr>
}

@helper AnalisisRow(HtmlHelper<PedidoViewModel> html, AnalisisMuestra analisisMuestra, int index, int orden)
{
    <tr class="analisisTRescogido">
        <td><span class="indiceAnalisisMuestra">@orden</span></td>
        <td>
            <span class="analisisNombre">@analisisMuestra.Analisis.Nombre</span>
        </td>
        <td>
            <input type="number" name="Item.AnalisisMuestras[@index].Cantidad" value="@analisisMuestra.Cantidad" class="form-control text-box single-line cantidadAnalisis" />
            @html.ValidationMessage(String.Format("Item.AnalisisMuestras[{0}].Cantidad", index), new { @class = "text-danger" })
        </td>
        <td>
            <span class="areaNombre" name="Item.AnalisisMuestras[@index].AreaNombre">@analisisMuestra.Analisis.GrupoAnalisis.Area.Nombre</span>
            <input type="hidden" name="Item.AnalisisMuestras.Index" value="@index" />
            <input type="hidden" value="@analisisMuestra.MuestraID" name="Item.AnalisisMuestras[@index].MuestraID" />
            <input type="hidden" value="@analisisMuestra.AnalisisID" name="Item.AnalisisMuestras[@index].AnalisisID" class="analisisIDescogido" />
        </td>
    </tr>
}

@helper ListaSubidaResultados(UrlHelper url, OrdenTrabajo ordenTrabajo, Muestra muestra, 
    List<Archivo> archivosResultados, List<Archivo> archivosSuplementarios,
    List<EnvioCorreo> notificaciones)
{
    <table>
        <thead>
            <tr>
                <th>Informes de Resultados</th>
                <th>#</th>
                <th>Principal</th>
                <th>Suplemento</th>
            </tr>
        </thead>
        <tbody>
            @for (int numeroInforme = 1; numeroInforme <= ordenTrabajo.CantidadInformes; numeroInforme++)
            {
                var archivoResultado = archivosResultados.Single(x =>
                    x.IdMuestra == muestra.ID &&
                    x.IdOrdenTrabajo == ordenTrabajo.ID &&
                    x.NumeroInforme == numeroInforme);

                var archivoSuplementario = archivosSuplementarios.Single(x =>
                    x.IdMuestra == muestra.ID &&
                    x.IdOrdenTrabajo == ordenTrabajo.ID &&
                    x.NumeroInforme == numeroInforme);

                var notificacionResultado = notificaciones.FirstOrDefault(x => x.ArchivoID == archivoResultado.ID);

                var notificacionSuplementario = notificaciones.FirstOrDefault(x => x.ArchivoID == archivoSuplementario.ID);

                <tr>
                    <td></td>
                    <th>@numeroInforme</th>
                    <td>
                        @if (!archivoResultado.Subido)
                        {
                            <input type="button"
                                   value="Subir"
                                   class="btn btn-primary subirResultados"
                                   name="Item.Action"
                                   data-IdOrdenTrabajo="@ordenTrabajo.ID"
                                   data-IdMuestra="@muestra.ID"
                                   data-numeroInforme="@numeroInforme"
                                   data-tipoArchivo="@TipoArchivo.InformeResultados" />
                        }
                        else
                        {
                            if (!archivoResultado.NecesitaSuplementario)
                            {
                                if (notificacionResultado == null)
                                {
                                    <a target="_blank" href="@url.Action("Descargar", "Archivos", new { area = "Admin", id = archivoResultado.ID })"><span class="fa fa-download"></span> Descargar</a><br />
                                    <a href="@url.Action("Eliminar", "Archivos", new { area = "Admin", idArchivo = archivoResultado.ID, idPedido = archivoResultado.PedidoID, accion = "SubirResultados" })" class="confirmar"><span class="fa fa-trash"></span> Eliminar</a>
                                }
                                else
                                {
                                    <span>Notificado</span>
                                }
                            }
                            else
                            {
                                <span>Notificado</span>
                            }
                        }
                    </td>
                    <td>
                        @if (archivoResultado.NecesitaSuplementario)
                        {
                            if (!archivoSuplementario.Subido)
                            {
                                <input type="button"
                                       value="Subir"
                                       class="btn btn-primary subirResultados"
                                       name="Item.Action"
                                       data-IdOrdenTrabajo="@ordenTrabajo.ID"
                                       data-IdMuestra="@muestra.ID"
                                       data-numeroInforme="@numeroInforme"
                                       data-tipoArchivo="@TipoArchivo.InformeSuplementario" />
                            }
                            else
                            {
                                if (notificacionSuplementario == null)
                                {
                                    <a target="_blank" href="@url.Action("Descargar", "Archivos", new { area = "Admin", id = archivoSuplementario.ID })"><span class="fa fa-download"></span> Descargar</a><br />
                                    <a href="@url.Action("Eliminar", "Archivos", new { area = "Admin", idArchivo = archivoSuplementario.ID, idPedido = archivoSuplementario.PedidoID, accion = "SubirResultados" })" class="confirmar"><span class="fa fa-trash"></span> Eliminar</a>
                                }
                                else
                                {
                                    <span>Notificado</span>
                                }
                            }
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@helper ListaNotificacionResultados(UrlHelper url, OrdenTrabajo ordenTrabajo, Muestra muestra, 
    List<Archivo> archivosResultados, List<Archivo> archivosSuplementarios,
    List<EnvioCorreo> notificaciones)
{
    <table>
        <thead>
            <tr>
                <th>Notificación de Resultados</th>
                <th>#</th>
                <th>Principal</th>
                <th>Suplemento</th>
            </tr>
        </thead>
        <tbody>
            @for (int numeroInforme = 1; numeroInforme <= ordenTrabajo.CantidadInformes; numeroInforme++)
            {
                var archivoResultado = archivosResultados.Single(x =>
                    x.IdMuestra == muestra.ID &&
                    x.IdOrdenTrabajo == ordenTrabajo.ID &&
                    x.NumeroInforme == numeroInforme);

                var archivoSuplementario = archivosSuplementarios.Single(x =>
                    x.IdMuestra == muestra.ID &&
                    x.IdOrdenTrabajo == ordenTrabajo.ID &&
                    x.NumeroInforme == numeroInforme);

                var notificacionResultado = notificaciones.FirstOrDefault(x => x.ArchivoID == archivoResultado.ID);

                var notificacionSuplementario = notificaciones.FirstOrDefault(x => x.ArchivoID == archivoSuplementario.ID);

                <tr>
                    <td></td>
                    <th>@numeroInforme</th>
                    <td>
                        @{
                            // archivoResultado.Subido & notificacionSuplementario.Subido entonces Notificado
                            // archivoResultado.Subido & !notificacionSuplementario.Subido entonces Boton Notificar
                            // !archivoResultado.Subido entonces Pendiente
                        }
                        @if (archivoResultado.Subido)
                        {
                            if (archivoSuplementario.Subido)
                            {
                                <span>Notificado</span>
                            }
                            else
                            {
                                var classNotificado = (notificacionResultado == null) ? "no-notificado" : "";

                                <input type="button"
                                       value="Notificar"
                                       class="btn btn-primary notificarResultadosInforme @classNotificado"
                                       name="Item.Action"
                                       data-IdArchivo="@archivoResultado.ID"
                                       data-tipoArchivo="@archivoResultado.Tipo"
                                       data-initialvalue="Notificar" />
                            }
                        }
                        else
                        {
                            <span>Pendiente</span>
                        }
                    </td>
                    <td>
                        @{
                            // notificacionResultado no es null y archivoSuplementario.Subido entonces Boton Notificar
                            // notificacionResultado no es null y !archivoSuplementario.Subido entonces Boton Pedir
                            // notificacionResultado es null entonces nada
                        }
                        @if (notificacionResultado != null)
                        {
                            if (archivoSuplementario.Subido)
                            {
                                var classNotificado = (notificacionSuplementario == null) ? "no-notificado" : "";

                                <input type="button"
                                       value="Notificar"
                                       class="btn btn-primary notificarResultadosInforme @classNotificado"
                                       name="Item.Action"
                                       data-IdArchivo="@archivoSuplementario.ID"
                                       data-tipoArchivo="@archivoResultado.Tipo"
                                       data-initialvalue="Notificar" />
                            }
                            else
                            {
                                if(ordenTrabajo.Pedido.Estado == EstadoPedido.Pagado)
                                { 
                                    <input type="button"
                                           value="Pedir"
                                           class="btn btn-primary pedirSuplementario"
                                           name="Item.Action"
                                           data-IdArchivo="@archivoResultado.ID"
                                           data-initialvalue="Pedir" />
                                }
                            }
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>
                </tr>
        }
        </tbody>
    </table>
}
