﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Verdezul.SYSOSP.Web.Entities
@using Verdezul.SYSOSP.Web.Areas.Admin.Models
@using Verdezul.SYSOSP.Web.Helpers

@helper DetallePlantillaRow(DetallePlantilla detalle, int index, int orden)
{
    <tr class="analisisTRescogido">
        <td><span class="indiceDetallePlantilla">@orden</span></td>
        <td><span class="analisisNombre">@detalle.Analisis.Nombre</span></td>
        <td><span class="grupoAnalisisNombre">@detalle.Analisis.GrupoAnalisis.Nombre</span></td>
        <td>
            <span class="areaNombre">@detalle.Analisis.GrupoAnalisis.Area.Nombre</span>
            <input type="hidden" name="Item.ListaAnalisis.Index" value="@index" />
            <input type="hidden" value="@detalle.AnalisisID" name="Item.ListaAnalisis[@index].AnalisisID" class="analisisIDescogido" />
        </td>
    </tr>
}
