﻿@model PagoContratoViewModel

@{
    ViewBag.Title = $"{Model.TipoMantenimiento} Pagos de Contratos";
}

<h2>@ViewBag.Title</h2>

<div class="pagoContratoMain">
    @GenericHelper.BusquedaClientes()

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @GenericHelper.ClienteIDTextBox(Model.Item.ClienteID)
            @Html.HiddenFor(model => model.Item.ID)

            <div class="form-group">
                @Html.LabelFor(model => model.Item.Cliente, htmlAttributes: new { @class = "control-label col-md-2 required" })
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="nombreReferencialCliente" type="text" disabled readonly value="@Model.Item.Cliente.NombreReferencial">
                    @Html.ValidationMessageFor(model => model.Item.ClienteID, "", new { @class = "text-danger" })
                </div>

                @Html.LabelFor(model => model.Item.Fecha, htmlAttributes: new { @class = "control-label col-md-2 required" })
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-date="Fecha incorrecta" data-val-required="Fecha es requerido" id="Item_Fecha" name="Item.Fecha" type="datetime" value="@Model.Item.Fecha.ToEcuadorDate().ToString("dd/MM/yyyy")">
                    @Html.ValidationMessageFor(model => model.Item.Fecha, "", new { @class = "text-danger" })
                </div>

                @Html.LabelFor(model => model.Item.Valor, htmlAttributes: new { @class = "control-label col-md-2 required" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Item.Valor, new { htmlAttributes = new { @class = "form-control", type="number" } })
                    @Html.ValidationMessageFor(model => model.Item.Valor, "", new { @class = "text-danger" })
                </div>

                @Html.LabelFor(model => model.Item.FormaPago, htmlAttributes: new { @class = "control-label col-md-2 required" })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(x => x.Item.FormaPago, "(Seleccione)", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Item.FormaPago, "", new { @class = "text-danger" })
                </div>

                @Html.LabelFor(model => model.Item.InformacionPago, htmlAttributes: new { @class = "control-label col-md-2 required" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Item.InformacionPago, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Item.InformacionPago, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Grabar" class="btn btn-default confirmar" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Regresar a Listado", "Index")
    </div>
</div>

@GenericHelper.ModalBusquedaClientes()

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @GenericHelper.ScriptBusquedaClientes(Url.Action("Search", "Clientes"), Url.Action("Create", "Clientes"), null, "control-formulario")

    @GenericHelper.ScriptConfirmarSubmit()

    <script>
        $('#Item_FormaPago option[value=7]').remove();
        $('#Item_FormaPago option[value=0]').attr('value', '');
        $("#Item_Fecha").datepicker();
    </script>
}
