﻿@model Verdezul.SYSOSP.Web.Areas.Admin.Models.PagoContratoListViewModel

@{
    ViewBag.Title = "Pagos de Contratos";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Cliente / Empresa
        </th>
        <th>
            Valor
        </th>
        <th>
            Fecha Pago
        </th>
        <th>
            Número de Pedidos
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Item)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.NombreReferencial)
            </td>
            <td class="numero">
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pedidos.Count)
            </td>
            <td>
                @Html.ActionLink("Ver", "View", new { id = item.ID })
            </td>
        </tr>
    }

</table>

@section scripts {
}
