﻿@model PagoContrato

@{
    ViewBag.Title = "Revisar Pago de Contrato";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cliente.NombreReferencial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Model.Fecha.ToEcuadorDate().ToString("dd/MM/yyyy")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormaPago)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormaPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InformacionPago)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InformacionPago)
        </dd>

        <dt>
            Número de Pedidos
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pedidos.Count)
        </dd>
    </dl>

    <h3>Pedidos Asociados</h3>
    <ul>
        @foreach (var pedido in Model.Pedidos)
        {
            <li>@pedido.NombreOficial</li>
        }
    </ul>

    <div class="form-actions no-color">
        @Html.ActionLink("Regresar al Listado", "Index")
    </div>
</div>
