﻿@{
    ViewBag.Title = "Confirmar Email";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Gracias por confirmar su email. Por favor @Html.ActionLink("de click aquí para ingresar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
