﻿@{
    ViewBag.Title = "¿Olvidó su clave?";
}

<hgroup class="title">
    <h1>@ViewBag.Title - Estamos resolviéndolo</h1>
</hgroup>
<div>
    <p>
        Revise su correo electrónico con las instrucciones para resetear su contraseña.
    </p>
</div>
	
