﻿@{
    ViewBag.Title = "¿Olvidó su clave?";
}

<hgroup class="title">
    <h1>@ViewBag.Title - Hemos solucionado el inconveniente</h1>
</hgroup>
<div>
    <p>
        Tu contraseña ha sido reseteada. 
    </p>
    <p>
        Por favor, @Html.ActionLink("ingrese aquí para acceder al sistema", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
