﻿@model Verdezul.SYSOSP.Web.Areas.Admin.Models.PedidoViewModel
@{
    ViewBag.Title = $"Prueba de Firma Digital";
}

<h2>@ViewBag.Title</h2>

<input type="button" value="Subir Proforma Firmada" class="btn btn-primary" id="subirProforma" name="Item.Action" data-initialvalue="Subir Proforma Firmada y Notificar" />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <span>Firmado</span>
}

<div class="modal fade" id="SubirArchivo" tabindex="-1" role="dialog" aria-labelledby="SubirArchivoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="SubirArchivoLabel">Subir Archivo</h5>
            </div>
            <div class="modal-body">
                <h4 class="modal-title" id="TipoArchivoLabel"></h4>
                <form id="frmArchivos" enctype="multipart/form-data">
                    <input type="hidden" name="tipoArchivo" id="tipoArchivo" value="" />
                    <input type="hidden" name="IdPedido" value="@Model.Item.ID" />
                    <input type="hidden" name="IdOrdenTrabajo" id="IdOrdenTrabajo" value="" />
                    <input type="hidden" name="IdMuestra" id="IdMuestra" value="" />
                    <input type="hidden" name="NumeroInforme" id="NumeroInforme" value="" />
                    <input type="hidden" name="cfd" id="cfd" value="" />
                    <input type="file" name="file" class="form-control" />
                    <input type="submit" value="Enviar" class="btn btn-primary" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ClaveFirma" tabindex="-1" role="dialog" aria-labelledby="ClaveFirmaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="SubirArchivoLabel">Ingrese Contraseña de firma para <span id="data">Hola</span></h5>
            </div>
            <div class="modal-body">
                <form id="frmArchivos" enctype="multipart/form-data">
                    <input type="password" name="textoC" id="textoC" value="" class="form-control" />
                    <input type="submit" value="Firmar" class="btn btn-default" />
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @GenericHelper.ScriptConfirmarSubmit()

    <script id="script-carga-archivos">
        $('#subirProforma').click(function () {
            $('#SubirArchivo #TipoArchivoLabel').html('@TipoArchivo.Proforma.ToDisplayName()');
            $('#SubirArchivo #tipoArchivo').val('@TipoArchivo.Proforma');
            $('#SubirArchivo').modal();
        });

        $('#subirAceptacion').click(function () {
            $('#SubirArchivo #TipoArchivoLabel').html('@TipoArchivo.AceptacionCliente.ToDisplayName()');
            $('#SubirArchivo #tipoArchivo').val('@TipoArchivo.AceptacionCliente');
            $('#SubirArchivo').modal();
        });

        $('.subirResultados').click(function () {
            var IdOrdenTrabajo = $(this).attr('data-IdOrdenTrabajo');
            var IdMuestra = $(this).attr('data-IdMuestra');
            var NumeroInforme = $(this).attr('data-numeroInforme');
            var TipoArchivo = $(this).attr('data-tipoArchivo');
            var TipoArchivoLabel = '';
            switch (TipoArchivo) {
                case '@TipoArchivo.InformeResultados':
                    TipoArchivoLabel = '@TipoArchivo.InformeResultados.ToDisplayName()';
                    break;
                case '@TipoArchivo.InformeSuplementario':
                    TipoArchivoLabel = '@TipoArchivo.InformeSuplementario.ToDisplayName()';
                    break;
            }
            $('#SubirArchivo #TipoArchivoLabel').html(TipoArchivoLabel + ' No. ' + NumeroInforme);
            $('#SubirArchivo #tipoArchivo').val(TipoArchivo);
            $('#SubirArchivo #IdOrdenTrabajo').val(IdOrdenTrabajo);
            $('#SubirArchivo #IdMuestra').val(IdMuestra);
            $('#SubirArchivo #NumeroInforme').val(NumeroInforme);
            $('#SubirArchivo').modal();
        });

        $('.subirOrdenTrabajo').click(function () {
            var IdOrdenTrabajo = $(this).attr('data-IdOrdenTrabajo');
            $('#SubirArchivo #TipoArchivoLabel').html('@TipoArchivo.OrdenTrabajo.ToDisplayName()');
            $('#SubirArchivo #tipoArchivo').val('@TipoArchivo.OrdenTrabajo');
            $('#SubirArchivo #IdOrdenTrabajo').val(IdOrdenTrabajo);
            $('#SubirArchivo').modal();
        });

        $('.subirRecepcion').click(function () {
            var IdMuestra = $(this).attr('data-IdMuestra');
            $('#SubirArchivo #TipoArchivoLabel').html('@TipoArchivo.RecepcionMuestra.ToDisplayName()');
            $('#SubirArchivo #tipoArchivo').val('@TipoArchivo.RecepcionMuestra');
            $('#SubirArchivo #IdMuestra').val(IdMuestra);
            $('#SubirArchivo').modal();
        });

        $("#frmArchivos").submit(function (e) {
            e.preventDefault();

            $('#ClaveFirma').modal();

            //var url = "@Url.Content("~/Archivos/Subir")";

            @*
            var parametros = new FormData($(this)[0]);
            var tipoArchivo = parametros.get('tipoArchivo');

            $.ajax({
                type: "POST",
                url: url,
                data: parametros,
                contentType: false, //importante enviar este parametro en false
                processData: false, //importante enviar este parametro en false
                success: function (data) {
                    if (data['status'] == '0') {
                        alert("Archivo Subido");
                        if (tipoArchivo == '@TipoArchivo.Proforma') {
                            //EnviarNotificacion($('#subirProforma'), '@Url.Content("~/Correos/Proforma")', '@Html.Raw(Mensajes.MEN_ENVIAR_NOTIF_PROFORMA)', 0);
                        }
                        location.reload();
                    } else {
                        alert("Hubo un inconveniente al subir el archivo.\nConsulte con el Administrador.\nCódigo de Error:" + data['status']);
                    }
                    $("#SubirArchivo").modal('hide');
                },
                error: function (r) {
                    alert("Error del servidor");
                    $("#SubirArchivo").modal('hide');
                }
            });
            *@
        });

        $("#ClaveFirma").submit(function (e) {
            e.preventDefault();

            var textoc = $('#ClaveFirma #textoC').val();

            $("#frmArchivos #cfd").val(textoc);

            alert($("#frmArchivos #cfd").val());
        });
    </script>

}
