﻿@model LogErrorViewModel

@{
    ViewBag.Title = $"Generar Archivos Faltantes";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <input type="submit" name="SubmitAction" class="btn btn-default confirmar" value="Crear faltantes" mensajeConfirmacion="¿Confirma que desea crear Archivos Faltantes?" />

    <table class="table">
        <tr>
            <th>Archivo Subido</th>
            <th>Existe</th>
        </tr>
        @foreach (var archivo in Model.Renombramientos.Where(x => !x.Existe))
        {
            <tr>
                <td>@archivo.Actual</td>
                <td><input type="checkbox" disabled="disabled" @(archivo.Existe ? "checked='checked'" : "") /></td>
            </tr>
        }
    </table>
}

@section Scripts {
    @GenericHelper.ScriptConfirmarSubmit()
}