﻿@model LogErrorViewModel

@{
    ViewBag.Title = $"Utilidad para Renombrar archivos Informes Resultados (R)";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <input type="submit" name="SubmitAction" class="btn btn-default confirmar" value="Acepto Renombrar" mensajeConfirmacion="¿Confirma que desea renombrar los archivos?" />

    <table class="table">
        <tr>
            <th>Nombre Actual</th>
            <th>Nombre Nuevo</th>
        </tr>
        @foreach (var nombreArchivo in Model.Renombramientos)
        {
            <tr class="celda">
                <td>@nombreArchivo.Actual</td>
                <td>@nombreArchivo.Nuevo</td>
            </tr>
        }
    </table>
}

@section Scripts {
    @GenericHelper.ScriptConfirmarSubmit()
}
