﻿@using Verdezul.SYSOSP.Web.Entities 
@model Verdezul.SYSOSP.Web.Areas.Admin.Models.AnalisisViewModel

@{
    ViewBag.Title = $"{Model.TipoMantenimiento} Análisis";

    var selectListGruposAnalisis = Model.Grupos.OrderBy(x => x.Area.ID).ThenBy(y => y.ID).Select(x => new SelectListItem { Text = $"{x.Area.Nombre} - {x.Nombre}", Value = x.ID.ToString() }).ToList();
    selectListGruposAnalisis.Insert(0, new SelectListItem { Text= "(Selecciones Grupo de Análisis)", Value = "" });
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal catalogosAnalisisMain">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Item.ID)
        <div class="form-group">

            @Html.LabelFor(model => model.Item.Nombre, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Item.Nombre, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Item.Nombre, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Item.Tecnica, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Item.Tecnica, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Item.Tecnica, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Item.Valor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item.Valor, new { htmlAttributes = new { @class = "form-control", type="number" } })
                @Html.ValidationMessageFor(model => model.Item.Valor, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Item.TieneIVA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item.TieneIVA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item.TieneIVA, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Item.AcreditacionSAE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item.AcreditacionSAE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item.AcreditacionSAE, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Item.Monitoreo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item.Monitoreo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item.Monitoreo, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Item.GrupoAnalisisID, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.Item.GrupoAnalisisID, selectListGruposAnalisis, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Item.GrupoAnalisisID, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Item.GrupoAnalisisID)
            </div>
        </div>

        <input id="addSubAnalisis" type="button" value="Agregar SubAnálisis" class="btn btn-default" />

        <table id="SubAnalisisTable" class="table">
            <thead>
                <tr>
                    <th style="width: 50%;">Nombre*</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Item.SubAnalisis.OrderBy(x => x.Nombre).Select((x, i) => new { index = i + 1, value = x }))
                {
                    @AnalisisHelper.SubAnalisisRow(Html, item.value, item.index, item.index)
                }
            </tbody>
        </table>

        <div id="divSubAnalisisDeleted">

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Grabar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a Listado", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/x-handlebars-template" id="subanalisis-row-template">
        @AnalisisHelper.SubAnalisisRow(Html, new SubAnalisis { AnalisisID = Model.Item.ID }, -1, -1)
    </script>

    <script type="text/x-handlebars-template" id="subanalisis-row-deleted-template">
        @AnalisisHelper.SubAnalisisRowDeleted(Html, new SubAnalisis { AnalisisID = Model.Item.ID }, -1)
    </script>

    <script>
        $(function () {
            $('#addSubAnalisis').on('click', function () {
                addSubAnalisis();
            });

            $('#SubAnalisisTable').on('click', '.delete', function () {
                $tr = $(this).closest('tr');
                addSubAnalisisDeleted({ ID: $tr.find('.Item_SubAnalisis_ID').val() });
                $tr.remove();
            })
        })

        function addSubAnalisis() {
            var ticks = Math.floor(Math.random() * (2147483640 - 21474800 + 1)) + 21474800;
            var template = $($.trim($("#subanalisis-row-template").html().replace(/\[-1\]/g, '[' + ticks + ']')));

            template.find('[name*="Item.SubAnalisis.Index"]').val(ticks);
            template.find('td.indiceMuestra').html($('#SubAnalisisTable tbody tr').length + 1);

            $('#SubAnalisisTable tbody').append(template);
        }

        function addSubAnalisisDeleted(asd) {
            var ticks = Math.floor(Math.random() * (2147483640 - 21474800 + 1)) + 21474800;
            var template = $($.trim($("#subanalisis-row-deleted-template").html().replace(/\[-1\]/g, '[' + ticks + ']')));

            template.find('[name*="Item.SubAnalisis.Index"]').val(ticks);
            template.find('[name*="Item.SubAnalisis[' + ticks + '].ID"]').val(asd.ID);
            template.find('[name*="Item.SubAnalisis[' + ticks + '].Nombre"]').val("(empty)");

            $('#divSubAnalisisDeleted').append(template);
        }
    </script>
}
