﻿@model Verdezul.SYSOSP.Web.Entities.Analisis

@{
    ViewBag.Title = "Eliminar Análisis";
}

<h2>@ViewBag.Title</h2>

<h3>¿Seguro que deseas eliminar esta información?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tecnica)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tecnica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TieneIVA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TieneIVA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcreditacionSAE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcreditacionSAE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monitoreo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Monitoreo)
        </dd>
        <dt>
            Grupo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GrupoAnalisis.Nombre)
        </dd>
    </dl>

    <h4>Sub-Análisis</h4>
    @if (Model.SubAnalisis.Any())
    {
        <table id="SubAnalisisTable" class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.SubAnalisis.Select((x, i) => new { index = i + 1, value = x }))
                {
                    <tr>
                        <td>@item.index <span> | </span>@item.value.Nombre</td>
                    </tr>
                }
            </tbody>
        </table>
    } else
    {
        <span>No tiene sub-análisis</span>
    }
    <br /><br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar al Listado", "Index")
        </div>
    }
</div>
