﻿@model AnalisisListViewModel

@{
    ViewBag.Title = "Listado de Análisis";
    var grupoTotal = Model.Item.GroupBy(x => x.GrupoAnalisis.Area);
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
    @Html.ActionLink("Imprimir", "ListadoAnalisis", "Reportes")
</p>

<table class="table">
    @foreach (var areaSubGrupo in grupoTotal)
    {
        <tr>
            <th colspan="9" style="font-size:larger">
                <b>Área: </b>@areaSubGrupo.Key.Nombre
            </th>
        </tr>

        foreach (var grupoAnalisisSubGrupo in areaSubGrupo.GroupBy(x => x.GrupoAnalisis))
        {
            <tr>
                <th></th>
                <th colspan="8">
                    <b>Grupo: </b>@grupoAnalisisSubGrupo.Key.Nombre
                </th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th>Nombre / Técnica</th>
                <th>Valor</th>
                <th>IVA</th>
                <th>SAE</th>
                <th>Mon.</th>
                <th>Sub.</th>
                <th></th>
            </tr>

            foreach (var item in grupoAnalisisSubGrupo.Select((x,y) => new { analisis = x, index = y + 1 } ))
            {
                <tr class="celda">
                    <th></th>
                    <th></th>
                    <td>
                        @(item.index).
                        @Html.DisplayFor(modelItem => item.analisis.Nombre)<br />
                        @if (item.analisis.Tecnica != null)
                        {
                            <i>Técnica:</i> @Html.DisplayFor(modelItem => item.analisis.Tecnica)<br />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.analisis.Valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.analisis.TieneIVA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.analisis.AcreditacionSAE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.analisis.Monitoreo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.analisis.TieneSubAnalisis)
                    </td>
                    <td style="white-space: nowrap">
                        <a href="@Url.Action("Edit", "CatalogosAnalisis", new { id = item.analisis.ID })" title="Editar"><span class="fa fa-edit"></span></a>
                        <a href="@Url.Action("Delete", "CatalogosAnalisis", new { id = item.analisis.ID })" title="Eliminar"><span class="fa fa-trash"></span></a>
                    </td>
                </tr>
            }
        }
    }
</table>

@section scripts {
}
