﻿@model Verdezul.SYSOSP.Web.Areas.Admin.Models.GrupoAnalisisViewModel

@{
    ViewBag.Title = $"{Model.TipoMantenimiento} Grupo de Análisis";

    var selectListAreas = Model.Areas.Select(x => new SelectListItem { Text = x.Nombre, Value = x.ID.ToString() }).ToList();
    selectListAreas.Insert(0, new SelectListItem { Text = "(Seleccione Área)", Value = "" });
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Item.ID)
        <div class="form-group">

            @Html.LabelFor(model => model.Item.Nombre, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item.Nombre, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Item.AreaID, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.Item.AreaID, selectListAreas, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Item.AreaID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Grabar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a Listado", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
