﻿@model Verdezul.SYSOSP.Web.Areas.Admin.Models.GrupoAnalisisListViewModel

@{
    ViewBag.Title = "Listado Grupos de Análisis";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>

<table class="table">
    <tr>
        <th>Nombre</th>
        <th>Área</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Item)
    {
        <tr class="celda">
            <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
            <td>@Html.DisplayFor(modelItem => item.Area.Nombre)</td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "fa fa-edit", title = "Editar" }) |
                @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "fa fa-trash", title = "Eliminar" })
            </td>
        </tr>
    }

</table>

@section scripts {
}
