﻿@using ReportViewerForMvc
@using Verdezul.SYSOSP.Web.Areas.Admin.Models
@using Verdezul.SYSOSP.Web.Entities
@using Verdezul.SYSOSP.Web.Helpers

@model ReporteInternoViewModel
@{
    ViewBag.Title = Model.Titulo;


    var selectListAreas = Model.Areas.Select(x => new SelectListItem { Text = x.Nombre, Value = x.ID.ToString() }).ToList();
    selectListAreas.Insert(0, new SelectListItem { Text = "(Todas)", Value = "0" });

    var selectListUsuarios = Model.Usuarios.Select(x => new SelectListItem { Text = x.NombresCompletos, Value = x.UserName }).ToList();
    selectListUsuarios.Insert(0, new SelectListItem { Text = "(Todas)", Value = " " });
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <dl class="dl-horizontal">
        <dt>Fecha Inicial</dt>
        <dd><input type="text" name="Parametros.FechaInicialTexto" id="Parametros_FechaInicialTexto" value="@Model.Parametros.FechaInicialTexto" class="form-control text-box single-line fechaJQ" /></dd>
        <dt>Fecha Final</dt>
        <dd><input type="text" name="Parametros.FechaFinalTexto" id="Parametros_FechaFinalTexto" value="@Model.Parametros.FechaFinalTexto" class="form-control text-box single-line fechaJQ" /></dd>
        <dt>Estado</dt>
        <dd>
            <select class="form-control" name="Parametros.EstadoPedido" id="Parametros_EstadoPedido">
                @foreach (var estado in Model.EstadoPedidos)
                {
                    var selected = (estado == Model.Parametros.EstadoPedido) ? "selected" : "";
                    <option value="@((int)estado)" @selected>@estado.ToDisplayName()</option>
                }
            </select>
        </dd>
        <dt>Área</dt>
        <dd>
            @Html.DropDownListFor(x => x.Parametros.CodigoArea, selectListAreas, new { @class = "form-control" })
        </dd>
        <dt>Usuario</dt>
        <dd>
            @Html.DropDownListFor(x => x.Parametros.UserName, selectListUsuarios, new { @class = "form-control" })
        </dd>
    </dl>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Buscar" class="btn btn-default" />
        </div>
    </div>
}
<br />

@if (Model.Renderizar)
{
    @Html.ReportViewer(Model.Visor, new { width = "100%" })
}

@section scripts {
    @ReporteHelper.ScriptDateTimePicker()
}
