﻿@{
    var serverEnvironment = Verdezul.SYSOSP.Web.Environment.Server.GetServerEnvironment();
    var ambienteTitulo = (serverEnvironment != Verdezul.SYSOSP.Web.Environment.ServerEnvironment.Produccion ? serverEnvironment.ToString() : "");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SYSOSP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/9457d00a72.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Admin/Pedidos">SYSOSP<span class="@ambienteTitulo">@ambienteTitulo</span></a>
            </div>
            <div class="collapse navbar-collapse" id="conference-dropdowns">
                <ul class="nav navbar-nav">
                    @if (CanSee(Constantes.USR_SUPAD))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Verdezul<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a class="submenu" data-toggle="dropdown" href="#">Log<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown">@Html.ActionLink("LogDB", "DB", "Log")</li>
                                        <li class="dropdown">@Html.ActionLink("LogError", "Error", "Log")</li>
                                        <li class="dropdown">@Html.ActionLink("LogFiles", "Files", "Log")</li>
                                        <li class="dropdown">@Html.ActionLink("TestCorreo", "TestCorreo", "Log")</li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="submenu" data-toggle="dropdown" href="#">Utils<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown">@Html.ActionLink("RenombrarArchivosR", "RenombrarArchivosR", "Utils")</li>
                                        <li class="dropdown">@Html.ActionLink("ArchivosFaltantes", "ArchivosFaltantes", "Utils")</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>
                &copy; @DateTime.UtcNow.Year - Verdezul Apps |
                @Verdezul.SYSOSP.Web.Environment.Server.GetServerEnvironment() |
                <i>@(String.Join(" / ", Constantes.ROLLIST.Where(x => User.IsInRole(x))).Replace("_", " "))</i>
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            // caret up
            $(".dropdown").on("hide.bs.dropdown", function () {
                $(this).find('.dropdown-toggle span').removeClass("caret-up");
            });

            $(".dropdown").on("show.bs.dropdown", function () {
                $(this).find('.dropdown-toggle span').addClass('caret-up');
            });

            // dropdown multilevel
            $('.dropdown-submenu .submenu').on("click", function (e) {

                $(this).next('ul').toggle();

                /* check display for caret */
                if ($(this).next('ul').css('display') == 'none') {
                    $(this).find('span').removeClass("caret-up");
                }
                else {
                    $(this).find('span').addClass("caret-up");
                }
                /* check display for caret || */

                e.stopPropagation();
                e.preventDefault();
            });
        });
    </script>
</body>
</html>

@functions {
    public bool CanSee(string user)
    {
        return (User.IsInRole(Constantes.ROL_ADMIN) && User.Identity.Name == Constantes.USR_SUPAD);
    }
}