﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "¡UPS!";
}

<h1 class="text-danger">Surgió un inconveniente</h1>
<h3 class="text-danger">Repita el proceso que se encontraba realizando.</h3>
<h3 class="text-danger">Si este mensaje vuelve a salir, por favor comúniquese con su Administrador.</h3>
<h3>@Model.Exception.Message</h3>

@if (Model.Exception.InnerException != null)
{
    <h3>@Model.Exception.InnerException.Message</h3>

    if (Model.Exception.InnerException.InnerException != null)
    {
        <h3>@Model.Exception.InnerException.InnerException.Message</h3>
    }
}
