﻿@model Verdezul.SYSOSP.Web.Areas.Admin.Models.BioquimicoViewModel

@{
    ViewBag.Title = $"{Model.TipoMantenimiento} Bioquimico";
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Item.ID)
        <div class="form-group">
            @Html.LabelFor(model => model.Item.UserName, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.Item.UserName, Model.UsuariosArea.Select(x => new SelectListItem { Text = x.Replace("()", "(Escoja Usuario)"), Value = x.Replace("()", "") }), new { @class = "form-control" })<br />
                @Html.ValidationMessageFor(model => model.Item.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Grabar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a Listado", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
