﻿@model Verdezul.SYSOSP.Web.Areas.Admin.Models.BioquimicoListViewModel

@{
    ViewBag.Title = "Listado Bioquimicos";
}

<h2>@ViewBag.Title</h2>

@*<p>@Html.ActionLink("Nuevo", "Create")</p>*@

<table class="table bioQuimicoMain">
    <tr>
        <th>Nombre Completo</th>
        <th>Cargo</th>
        <th>Usuario</th>
        <th>Áreas</th>
        <th>Órdenes</th>
        @*<th></th>*@
    </tr>

    @foreach (var item in Model.Item)
    {
        if (item.ApplicationUser != null)
        {
            var clase = (item.Status == Verdezul.SYSOSP.Web.Entities.EstadoEntidad.Eliminado) ? "eliminado" : "";
            <tr class="@clase">
                <td>@Html.DisplayFor(modelItem => item.NombresCompletos)</td>
                <td>@Html.DisplayFor(modelItem => item.ApplicationUser.Cargo)</td>
                <td>@Html.DisplayFor(modelItem => item.ApplicationUser.UserName)</td>
                <td>@Html.DisplayFor(modelItem => item.Area.Count)</td>
                <td>@Html.DisplayFor(modelItem => item.OrdenesTrabajo.Count)</td>
                @*<td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Borrar", "Delete", new { id = item.ID })
                </td>*@
            </tr>
        }
    }

</table>
@section scripts {
}
