﻿@model Verdezul.SYSOSP.Web.Areas.Admin.Models.ClienteViewModel

@{
    ViewBag.Title = $"{Model.TipoMantenimiento} Cliente";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Item.ID)
        <div class="form-group">

            @Html.LabelFor(model => model.Item.TipoIdentificacion, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(x => x.Item.TipoIdentificacion, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Item.TipoIdentificacion, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Item.NumeroIdentificacion, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item.NumeroIdentificacion, new { htmlAttributes = new { @class = "form-control", maxlength = "13" } })
                @Html.ValidationMessageFor(model => model.Item.NumeroIdentificacion, "", new { @class = "text-danger" })
                @Html.ValidationMessage("IdentificacionRepetida", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Item.Nombre, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Item.Nombre, new { @class = "form-control", maxlength = "64" } )
                @Html.ValidationMessageFor(model => model.Item.Nombre, "", new { @class = "text-danger" })
                @Html.ValidationMessage("NombreRepetido", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Item.Direccion, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Item.Direccion, new { @class = "form-control", maxlength = "128" })
                @Html.ValidationMessageFor(model => model.Item.Direccion, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Item.Telefono, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Item.Telefono, new { @class = "form-control", maxlength = "64" } )
                @Html.ValidationMessageFor(model => model.Item.Telefono, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Item.CorreoElectronico, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item.CorreoElectronico, new { htmlAttributes = new { @class = "form-control", @type = "email", maxlength = "64" } })
                @Html.ValidationMessageFor(model => model.Item.CorreoElectronico, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Item.CorreoElectronicoFacturacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item.CorreoElectronicoFacturacion, new { htmlAttributes = new { @class = "form-control", @type = "email", maxlength = "64" } })
                @Html.ValidationMessageFor(model => model.Item.CorreoElectronicoFacturacion, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Item.Estado, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(x => x.Item.Estado, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Item.Estado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="SubmitAction" class="btn btn-default" value="Grabar" />
                <input type="submit" name="SubmitAction" class="btn btn-default" value="Grabar y Crear Pedido" />
            </div>
        </div>
    </div>
}

@if (Model.Item.Pedidos.Any())
{
    <table class="table">
        <tr>
            <th>Pedidos / Proformas</th>
            <th>Estado</th>
            <th></th>
        </tr>
        @foreach (var pedido in Model.Item.Pedidos)
        {
            <tr>
                <td>@pedido.NombreOficial</td>
                <td>@pedido.Estado.ToDisplayName()</td>
                <td>@Html.ActionLink("Ver", "Ver", "Pedidos", new { area = "Admin", id = pedido.ID }, null)</td>
            </tr>
        }
    </table>
}
<br />

<div>
    @Html.ActionLink("Regresar a Listado", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
