﻿@model Verdezul.SYSOSP.Web.Entities.Cliente

@{
    ViewBag.Title = "Eliminar Cliente";
}

<h2>@ViewBag.Title</h2>

<h3>¿Seguro que deseas eliminar esta información?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoIdentificacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoIdentificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroIdentificacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroIdentificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar al Listado", "Index")
        </div>
    }
</div>
