﻿@model Verdezul.SYSOSP.Web.Areas.Admin.Models.ClienteListViewModel

@{
    ViewBag.Title = "Listado de Clientes";
    string letras = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
}

<h2>@ViewBag.Title</h2>

@GenericHelper.BusquedaClientes()
<br />

<a href="@Url.Action("Index")">Todos</a>
@foreach (var letra in letras)
{
    @String.Format("|") <a href="@Url.Action("Index", new { q = letra })">@letra</a>
}

<p>
    @Html.ActionLink("Nuevo Cliente", "Create", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Impresión", "ListadoClientes", "Reportes", null, null)
</p>

<table class="table">
    <tr>
        <th>
            Identificación
        </th>
        <th>
            Cliente / Empresa
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Item)
    {
        <tr class="celda">
            <td>
                @Html.DisplayFor(modelItem => item.NumeroIdentificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Clientes", new { id = item.ID })" title="Editar"><span class="fa fa-edit"></span></a>
                <a href="@Url.Action("Delete", "Clientes", new { id = item.ID })" title="Eliminar"><span class="fa fa-trash"></span></a>
                <a href="@Url.Action("Create", "Pedidos", new { cid = item.ID })" title="Crear Pedido"><span class="fa fa-briefcase"></span></a>
            </td>
        </tr>
    }

</table>

@GenericHelper.ModalBusquedaClientes()

@section scripts {
    @GenericHelper.ScriptBusquedaClientes(Url.Action("Search", "Clientes"), Url.Action("Create", "Clientes"), Url.Action("Edit", "Clientes", new { id = 0 }) , "edicion-cliente")
}
