﻿@model BusquedaClienteViewModel
@{
    Layout = null;
}

@switch (Model.Tipo)
{
    case TipoResultadoBusqueda.Varios:
        {
            <table class="tablaResultados">
                <tr>
                    <th></th>
                    <th>Identificación</th>
                    <th>Nombre</th>
                </tr>
                @foreach (var item in Model.Lista)
                {
                    <tr>
                        <td><a href="#" class="selectCliente" data-id="@item.ID" data-nombre="@item.NombreReferencial" data-correo="@item.CorreoElectronico">Seleccionar</a></td>
                        <td>@item.NumeroIdentificacion</td>
                        <td>@item.Nombre</td>
                    </tr>
                }
                @if (Model.ExistenMasResultados)
                {
                    <tr>
                        <td></td>
                        <td colspan="2" class="text-danger">Existen más resultados. Por favor, refine la búsqueda</td>
                    </tr>
                }
            </table>
        }
        break;
    case TipoResultadoBusqueda.Unico:
        {
            <div class="resultadoUnico">
                <div class="resultadoUnicoID">@Model.Item.ID</div>
                <div class="resultadoUnicoNombre">@Model.Item.NombreReferencial</div>
                <div class="resultadoUnicoCorreo">@Model.Item.CorreoElectronico</div>
            </div>
        }
        break;
    case TipoResultadoBusqueda.Ninguno:
        {
            <div class="sinResultados"></div>
        }
        break;
}
