﻿@model dynamic

@{
    ViewBag.Title = "Test Identificacion";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>Cliente / Empresa</th>
        <th>Identificación</th>
        <th>Válido</th>
        <th>Mensaje</th>
    </tr>

    @foreach (var item in Model.Clientes)
    {
        var t = item.GetType();
        <tr>
            <td>@t.GetProperty("Nombre").GetValue(item)</td>
            <td>@t.GetProperty("NumeroIdentificacion").GetValue(item)</td>
            <td><input type="checkbox" disabled @(t.GetProperty("Valido").GetValue(item) ? "checked" : "")/></td>
            <td>@t.GetProperty("Mensaje").GetValue(item)</td>
        </tr>
    }
</table>
