﻿@using Verdezul.SYSOSP.Web.Helpers
@using Verdezul.SYSOSP.Web.Entities
@model Verdezul.SYSOSP.Web.Models.ResultadosViewModel

@{
    ViewBag.Title = "Archivos";
}

<h2>Archivos de referencia para Proforma @Model.Pedido.NumeroProforma</h2>

Cliente: <b>@Model.Pedido.Cliente.NombreReferencial</b><br />
Contacto: <b>@Model.Pedido.PersonaContacto</b><br />
Información: <b>@Model.Pedido.NombreOficial</b><br />
<br />
<table class="table">
    <tr>
        <th>Archivo</th>
        <th>Estado</th>
        <th>Fecha</th>
        <th>Descarga</th>
    </tr>
    @foreach (var archivo in Model.Pedido.Archivos.OrderBy(x => x.Tipo))
    {
        if(archivo.Tipo == TipoArchivo.InformeSuplementario)
        {
            var informePrincipal = Model.Pedido.Archivos.Single(x =>
                x.IdOrdenTrabajo == archivo.IdOrdenTrabajo &&
                x.IdMuestra == archivo.IdMuestra &&
                x.NumeroInforme == archivo.NumeroInforme &&
                x.Tipo == TipoArchivo.InformeResultados
            );

            if (!informePrincipal.NecesitaSuplementario)
            {
                continue;
            }
        }

        var envio = Model.Pedido.GetNotificacionxArchivo(archivo.ID);

        <tr>
            <td>
                @archivo.Tipo.ToDisplayName()
                @switch (archivo.Tipo)
                {
                    case TipoArchivo.Proforma:
                    case TipoArchivo.AceptacionCliente:
                        @archivo.Pedido.NumeroProforma;
                        break;
                    case TipoArchivo.OrdenTrabajo:
                        @Model.Pedido.Ordenes.Single(x => x.ID == archivo.IdOrdenTrabajo).NombreOrden
                        break;
                    case TipoArchivo.RecepcionMuestra:
                        @Model.Pedido.Muestras.Single(x => x.ID == archivo.IdMuestra).NombreMuestra
                        break;
                    case TipoArchivo.InformeResultados:
                    case TipoArchivo.InformeSuplementario:
                        @Model.Pedido.Muestras.Single(x => x.ID == archivo.IdMuestra).NombreMuestra
                        @String.Format("{0}", " | ")
                        @Model.Pedido.Ordenes.Single(x => x.ID == archivo.IdOrdenTrabajo).NombreOrden
                        @String.Format(" | Informe {0}", archivo.NumeroInforme)
                        break;
                }
            </td>
            <td>@(archivo.Subido ? "Subido" : "Pendiente") </td>
            <td>@(envio != null ? envio.EntityDate.ToEcuadorDate().ToString(TipoSalida.FechaHoraMinuto) : "")</td>
            <td>
                @if (archivo.Subido)
                {
                    <a href="@Url.Action("Descargar", new { i = Model.Pedido.Codigo + "_" + archivo.Codigo })" class="fa fa-download"></a>
                }
            </td>
        </tr>
    }
</table>
