﻿@using ReportViewerForMvc
@using Verdezul.SYSOSP.Web.Areas.Admin.Models

@model ReporteInternoViewModel
@{
    ViewBag.Title = Model.Titulo;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <input id="Item_ClienteID" type="hidden" name="Parametros.ClienteID" value="@Model.Parametros.ClienteID" />
    <dl class="dl-horizontal">
        <dt>Fec. Ini. Aprobación</dt>
        <dd><input type="text" name="Parametros.FechaInicialTexto" id="Parametros_FechaInicialTexto" value="@Model.Parametros.FechaInicialTexto" class="form-control text-box single-line fechaJQ" /></dd>
        <dt>Fec. Fin. Aprobación</dt>
        <dd><input type="text" name="Parametros.FechaFinalTexto" id="Parametros_FechaFinalTexto" value="@Model.Parametros.FechaFinalTexto" class="form-control text-box single-line fechaJQ" /></dd>
        <dt>Cliente</dt>
        <dd>
            @GenericHelper.BusquedaClientes()
        </dd>
        <dt></dt>
        <dd>
            <a href="#" title="Limpiar" id="limpiarCliente"><span class="fa fa-xmark"></span></a>
            <input class="form-report" id="nombreReferencialCliente" type="text" readonly disabled value="@Model.Parametros.NombreReferencialCliente" data-original-value="@Constantes.TextoTodos">
        </dd>
    </dl>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Buscar" class="btn btn-primary" />
        </div>
    </div>
}
<br />

@GenericHelper.ModalBusquedaClientes()

@if (Model.Renderizar)
{
    @Html.ReportViewer(Model.Visor, new { width = "100%" })
}

@section scripts {
    <script>
        var mostrarNombreCliente = function () {
            $('#limpiarCliente').show();
        }

        var inicializarClienteEnFormulario = function () {
            $('#limpiarCliente').hide();
            $('#nombreReferencialCliente').val($('#nombreReferencialCliente').attr('data-original-value'));
            $('#Item_ClienteID').val(0);
            $('#universal').val('');
        }
    </script>

    <script>
        if ($('#Item_ClienteID').val() != '0')
            $('#limpiarCliente').show();
        else
            $('#limpiarCliente').hide();

        $('#limpiarCliente').click(function () {
            inicializarClienteEnFormulario();
            $('#universal').focus();
        });
    </script>

    @ReporteHelper.ScriptDateTimePicker()

    @GenericHelper.ScriptBusquedaClientes(Url.Action("Search", "Clientes"), Url.Action("Create", "Clientes"), Url.Action("Edit", "Clientes", new { id = 0 }), "control-formulario", "mostrarNombreCliente", false)
}
