﻿@model LogDBViewModel

@{
    ViewBag.Title = "Listado LogDB";

    var tablas = new List<String> {
        "Clientes",
        "Areas",
        "Parametros",
        "SubAnalisisMuestra",
        "AnalisisMuestra",
        "OrdenesTrabajo",
        "Archivos",
        "FechasPedido",
        "Muestras",
        "Pedidos",
        "EnviosCorreo",
        "PagosContrato",
        "Plantillas",
        "Bioquimicos",
        "GruposAnalisis",
        "Analisis",
        "SubAnalisis",
        "DetallesPlantilla",
    }.Select(x => new SelectListItem { Text = x, Value = x }).OrderBy(x => x.Text);
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(x => x.Tipo, new { @class = "form-control" })
            </div>
            @Html.LabelFor(model => model.Tabla, htmlAttributes: new { @class = "control-label col-md-2 parametro parametro-tabla" })
            <div class="col-md-10 parametro parametro-tabla">
                @Html.DropDownListFor(x => x.Tabla, tablas, new { @class = "form-control" })
            </div>
            @Html.LabelFor(model => model.PedidoID, htmlAttributes: new { @class = "control-label col-md-2 parametro parametro-pedido" })
            <div class="col-md-10 parametro parametro-pedido">
                @Html.TextBoxFor(x => x.PedidoID, new { @class = "form-control", type = "number" })
            </div>
            @Html.LabelFor(model => model.ClienteID, htmlAttributes: new { @class = "control-label col-md-2 parametro parametro-cliente" })
            <div class="col-md-10 parametro parametro-cliente">
                @Html.TextBoxFor(x => x.ClienteID, new { @class = "form-control", type = "number" })
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Revisar" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

@if (Model.Item.Count() > 0)
{
    switch (Model.Tipo)
    {
        case TipoLogDB.Tabla:
            <table class="table">
                <tr>
                    <th>Tabla</th>
                    <th>ID</th>
                    <th>EntityDate</th>
                    <th>Status</th>
                    <th>User</th>
                </tr>

                @foreach (var item in Model.Item)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Tabla)</td>
                        <td>@Html.DisplayFor(modelItem => item.EntityID)</td>
                        <td>@Html.DisplayFor(modelItem => item.EntityDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                        <td>@Html.DisplayFor(modelItem => item.User)</td>
                    </tr>
                }
            </table>
            break;
        case TipoLogDB.Pedido:
            <table class="table">
                <tr>
                    <th>Tabla</th>
                    <th>ID</th>
                    <th>PedidoID</th>
                    <th>OrdenTrabajoID</th>
                    <th>AnalisisMuestraID</th>
                    <th>EntityDate</th>
                    <th>Status</th>
                    <th>User</th>
                </tr>

                @foreach (var item in Model.Item)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Tabla)</td>
                        <td>@Html.DisplayFor(modelItem => item.EntityID)</td>
                        <td>@Html.DisplayFor(modelItem => item.PedidoID)</td>
                        <td>@Html.DisplayFor(modelItem => item.OrdenTrabajoID)</td>
                        <td>@Html.DisplayFor(modelItem => item.AnalisisMuestraID)</td>
                        <td>@Html.DisplayFor(modelItem => item.EntityDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                        <td>@Html.DisplayFor(modelItem => item.User)</td>
                    </tr>
                }
            </table>
            break;
        case TipoLogDB.Cliente:
            <table class="table">
                <tr>
                    <th>ClienteID</th>
                    <th>Tabla</th>
                    <th>ID</th>
                    <th>EntityDate</th>
                    <th>Status</th>
                    <th>User</th>
                </tr>

                @foreach (var item in Model.Item)
                {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ClienteID)</td>
                <td>@Html.DisplayFor(modelItem => item.Tabla)</td>
                <td>@Html.DisplayFor(modelItem => item.EntityID)</td>
                <td>@Html.DisplayFor(modelItem => item.EntityDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                <td>@Html.DisplayFor(modelItem => item.User)</td>
            </tr>
                }
            </table>
            break;

    }
}

@section scripts {
    <script>
        xyz($('#Tipo').val());
        $('#Tipo').change(function () {
            xyz($('#Tipo').val());
        });

        function xyz(tipo) {
            $('.parametro').hide();
            switch (tipo) {
                case "1":
                    $('.parametro-tabla').show();
                    break;
                case "2":
                    $('.parametro-pedido').show();
                    break;
                case "3":
                    $('.parametro-cliente').show();
                    break;
            }
        }
    </script>
}
