﻿@model LogErrorViewModel

@{
    ViewBag.Title = $"{Model.Tipo} LogError";
}

<h2>@ViewBag.Title</h2>

@switch (Model.Tipo)
{
    case TipoLogError.Lista:
        <table class="table">
            @foreach (var archivo in Model.Archivos)
            {
                <tr>
                    <td>@archivo</td>
                    <td>@Html.ActionLink("Ver", "ErrorDetail", new { file = archivo })</td>
                </tr>
            }
        </table>

        <input type="button" class="btn btn-default" value="Limpiar Logs" id="limpiarLogs" />

        break;

    case TipoLogError.Detalle:
        <h2>@Model.NombreArchivo.Replace(".txt", "")</h2>

        foreach (var linea in Model.Lineas)
        {
            <p>@linea</p>
        }

        @Html.ActionLink("Regresar a Listado", "Error")
        break;

}

@section Scripts {
    <script>
        $('#limpiarLogs').click(function () {
            HabilitarBoton($(this), false);
            var url = '@Url.Content("~/LogDB/LimpiarLogs")';
            $.ajax({
                type: "POST",
                url: url,
                success: function (data) {
                    location.reload(true);
                },
                error: function (r) {
                    alert("Error del servidor");
                },
                complete: function(e) {
                    HabilitarBoton($('#notificarResultadosParciales'), true);
                }
            });

        });

        function HabilitarBoton($boton, habilitar) {
            if (!habilitar) {
                $boton.attr("disabled", "disabled").val("Limpiando...")
            } else {
                $boton.removeAttr("disabled").val($boton.attr("data-initialvalue"));
            }
        }
    </script>
}
