﻿@model LogErrorViewModel

@{
    ViewBag.Title = $"{Model.Tipo} LogFiles";
}

<h2>@ViewBag.Title</h2>

@switch (Model.Tipo)
{
    case TipoLogError.Lista:
        <table class="table">
            <tr>
                <th>FileName</th>
                <th>Tipo</th>
                <th>PedidoID</th>
                <th>OrdenTrabajoID</th>
                <th>MuestraID</th>
                <th>Extension</th>
                <th colspan="2"></th>
            </tr>
            @foreach (var nombreArchivo in Model.Archivos)
            {
                Archivo archivo = Archivo.SetArchivoFromName(nombreArchivo);
                <tr>
                    <td>@nombreArchivo</td>
                    <td>@archivo.Tipo.ToDisplayName()</td>
                    <td>@archivo.PedidoID</td>
                    <td>@archivo.IdOrdenTrabajo</td>
                    <td>@archivo.IdMuestra</td>
                    <td>@archivo.Extension</td>
                    <td>@Html.ActionLink(" ", "FileDetail", new { fileName = nombreArchivo }, new { @class="fa fa-eye" })</td>
                    <td><a target="_blank" href="@Url.Action("FileDownload", "Log", new { area = "Verdezul", fileName = nombreArchivo })" class="fa fa-download"></a></td>
                </tr>
            }
        </table>

        break;

    case TipoLogError.Detalle:
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>@Model.FileInfo.Name</dd>

            <dt>CreationTimeUtc</dt>
            <dd>@Model.FileInfo.CreationTimeUtc</dd>

            <dt>Length</dt>
            <dd>@Model.FileInfo.Length</dd>

            <dt>Extension</dt>
            <dd>@Model.FileInfo.Extension</dd>

            <dt>LastAccessTimeUtc</dt>
            <dd>@Model.FileInfo.LastAccessTimeUtc</dd>

            <dt>LastWriteTime</dt>
            <dd>@Model.FileInfo.LastWriteTime</dd>

            <dt>IsReadOnly</dt>
            <dd>@Model.FileInfo.IsReadOnly</dd>

            <dt>Attributes</dt>
            <dd>@Model.FileInfo.Attributes</dd>

            <dt></dt>
            <dd><a target="_blank" href="@Url.Action("FileDownload", "Log", new { area = "Verdezul", fileName = Model.FileInfo.Name })"> Descargar </a></dd>
        </dl>

        @Html.ActionLink("Regresar a listado", "Files")
        break;
}
